<div class="mi-cookie-banner-directive cookie-banner-directive-slide-animation" ng-if="isOpen">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-10">
        Vi använder kakor (cookies) för att den här webbplatsen ska fungera på ett bra sätt för dig. Genom att logga in accepterar du vår användning av kakor.<br>

        <a href data-ng-click="openCookieDialog()">Läs mer om kakor</a>
      </div>
      <div class="col-sm-2 text-right">
        <button class="btn btn-primary" id="cookie-usage-consent-btn" ng-click="onCookieConsentClick()">
          Jag godkänner
        </button>
      </div>
    </div>
  </div>
</div>
