mvk-top-bar {
  #headerContainer {
    background-color: $mi-mvk-header-bg-color;
    border-bottom: 1px solid #067F97;
    width: 100%;
    padding-left:  25px;
    padding-right: 15px;
    padding-bottom: 8px;

    a {
      color: #fff;
      font-size: 18px;
      text-decoration: none;

      span {
        vertical-align: middle;

        &:hover {
          text-decoration: underline;
        }
      }

      img {
        margin-right: 15px;
      }
    }
  }
}
