<div class="container">
  <div class="row">
    <div class="col-xs-3 mi-header-col">
      <div>
        <a href="/web/start">
          <img class="page-logo" alt="Gå till inkorgen i Mina intyg. Logo Mina intyg" id="logo"
               src="/img/logo-minaintyg-white-retina.png" />
        </a>
      </div>
    </div>
    <div class="col-xs-9 mi-header-col user-info" ng-if="userName.length">
      <div>
        <message key="nav.label.loggedinas"></message>
        &nbsp;<span class="user-name">{{userName}}</span><br>
        <a href="/web/logga-ut" id="mvklogoutLink">
          <message key="mvk.header.logouttext"></message>
          <i class="glyphicon glyphicon-log-out"></i>
        </a>
      </div>
    </div>
  </div>
</div>