<h1 class="bottom-spacing">Du har nu gett samtycke - välj hur du vill fortsätta</h1>
<div class="row-fluid">
	<div class="span8" id="consent-given">

		<h2>Kom du ifrån annan aktör än Mina vårdkontakter? (tex Försäkringskassan)</h2>
		<p>Du kan nu börja bifoga intyg hos din aktör och stänga detta fönster.</p>
		<p><span style="font-style:italic">Exempel:</span> För att bifoga ditt intyg till ett ärende i Försäkringskassans Mina sidor behöver du endast ge ditt samtycke, vilket du gjorde på föregående sida. Därför behöver du inte gå vidare till tjänsten Mina intyg utan kan stänga detta fönster.</p>

		<h2>Kom du till Mina intyg ifrån Mina vårdkontakter?</h2>

		<p>Om du kom till Mina intyg från Mina vårdkontakter, <strong>välj fortsätt</strong>.</p>
		<p>
		   <input id="continueToMI" ng-click="continueToMI()" value="Fortsätt" class="btn btn-success" />
		</p>

	</div>
</div>