<div id="consent-given">Du har nu gett samtycke - välj hur du vill fortsätta<br>

<p>Kom du ifrån annan aktör än Mina vårdkontakter? (tex Försäkringskassan)</p>

<p>Du kan nu bifoga ett intyg på försäkringskassans Mina sidor.

För att bifoga ditt intyg till ett ärende i Försäkringskassans flöde behöver du endast ge ditt samtycke, vilket du gjorde på föregående sida. Därför behöver du inte gå vidare till tjänsten Mina intyg utan kan stänga detta fönster. Du kan nu bifoga ditt intyg till ditt ärende på Försäkringskassans Mina sidor. Du kan nu stänga detta fönster.
</p>

<p>Kom du till Mina intyg ifrån Mina vårdkontakter?

Om du kom till Mina intyg från Mina vårdkontakter, välj fortsätt.
</p>
 <p class="btn-row">
    <input id="continueToMI" ng-click="continueToMI()" value="Fortsätt" class="btn btn-success" />
  </p>
</div>