<div id="consentTerms" class="offset2 span8">
  <h1><message key="consent.consentpage.title"></message></h1>

  <div class="alert alert-info">
	  <message key="consent.info"></message>
  </div>

  <h2><message key="consent.aboutheader"></message></h2>
  <p><message key="consent.abouttext"></message></p>

  <message key="consent.consentheader1"></message>
  <message key="consent.consenttext1"></message>

  <message key="consent.consentheader2"></message>
  <message key="consent.consenttext2"></message>

  <message key="consent.consentheader3"></message>
  <message key="consent.consenttext3"></message>

  <message key="consent.consentheader4"></message>
  <message key="consent.consenttext4"></message>

  <message key="consent.consentheader5"></message>
  <message key="consent.consenttext5"></message>

  <message key="consent.consentheader6"></message>
  <message key="consent.consenttext6"></message>

  <p class="btn-row-desc"><message key="consent.confirmtext"></message></p>
  <p>
    <button id="giveConsentButton" ng-click="giveConsent()" class="btn btn-success"><message key='consent.giveconsent'></message></button>
  </p>

</div>