<div id="consentTerms" class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
  <h1><span message key="consent.consentpage.title"></span></h1>

  <div class="alert alert-info">
	  <span message key="consent.info"></span>
  </div>

  <h2><span message key="consent.aboutheader"></span></h2>
  <p><span message key="consent.abouttext"></span></p>

  <span message key="consent.consentheader1"></span>
  <span message key="consent.consenttext1"></span>

  <span message key="consent.consentheader2"></span>
  <span message key="consent.consenttext2"></span>

  <span message key="consent.consentheader3"></span>
  <span message key="consent.consenttext3"></span>

  <span message key="consent.consentheader4"></span>
  <span message key="consent.consenttext4"></span>

  <span message key="consent.consentheader5"></span>
  <span message key="consent.consenttext5"></span>

  <span message key="consent.consentheader6"></span>
  <span message key="consent.consenttext6"></span>

  <p class="btn-row-desc"><span message key="consent.confirmtext"></span></p>
  <p>
    <button id="giveConsentButton" ng-click="giveConsent()" class="btn btn-success"><span message key='consent.giveconsent'></span></button>
  </p>

</div>