mi-footer {

  color: #333;
  background-color: #F3F4F6;

  h3{
    font-size: 14px;
    margin: 0 0 5px 0;
  }

  mi-scroll-to-top-link {
    display: block;
    padding: 50px 0;
  }

  .mi-footer__cookie-link {
    padding: 20px 0;
  }

}
