<div>
  <div class="text-center scroll-to-top-div">
    <button ng-click="scrollToTop()" class="btn btn-link no-padding" ng-if="vm.visible">
      Till toppen av sidan
    </button>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <h3>Mina intyg är en tjänst som drivs av Inera AB</h3>
        <p>Box 11703, 118 93 Stockholm<br>
          <span dynamiclink key="ineraExternalLink"></span>
        </p>
      </div>
      <div class="col-xs-12 col-md-4">
        <h3>Kundtjänst</h3>
        <p>Tel 0771-25 10 10<br>
          <span dynamiclink key="ineraKontakt"></span>
        </p>
      </div>
      <div class="col-xs-12 col-md-4">
        <h3>Tekniska krav</h3>
        <p>Mina intyg följer 1177 Vårdguidens riktlinjer för e-tjänster<br>
          <span dynamiclink key="1177etjanster2"></span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p class="mi-footer__cookie-link">Om kakor Mina intyg använder kakor <a ng-href="" ng-click="openCookieDialog()">Läs mer om kakor (cookies)</a></p>
      </div>
    </div>
  </div>
</div>
