<div>
   <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <h3>Mina intyg är en tjänst som drivs av Inera AB</h3>
        <p><span dynamiclink key="ineraExternalLink"></span></p>
      </div>
      <div class="col-xs-12 col-md-4">
        <h3>Support</h3>
        <p>Telefon 0770-72 00 00, klockan 06.00 - 22.00 alla dagar<br>
          <span dynamiclink key="1177eServicesHelpAndSupport"></span>
        </p>
      </div>
      <div class="col-xs-12 col-md-4">
        <h3>Tekniska krav</h3>
        <p>Mina intyg följer 1177 Vårdguidens riktlinjer för e-tjänster<br>
          <span dynamiclink key="1177etjanster2"></span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p class="mi-footer__cookie-link">Mina intyg använder kakor (cookies). <a ng-href="" ng-click="openCookieDialog()">Läs mer om kakor</a></p>
      </div>
    </div>
  </div>
</div>
