mi-select-recipients {
  display: block;
  margin-bottom: 30px;

  .selection-box {
    background: $mi-intyg-body-bg;
    border: 1px solid #eee;
    padding: 15px;
    box-shadow: 0 3px 5px $mi-box-shadow-color;
    flex: 1 0 auto;
  }

  .nav > li > a {
    :focus, > :hover, :focus > span, :hover > span {
      background-color: transparent;
      text-decoration: underline;
    }
  }

  .nav > li:hover {
    font-weight: bold;
  }

  .selection-list {
    min-height: 100px;

    @media (min-width: $screen-sm-min) {
      min-height: 160px;
    }

    .sent, .unsent {
      padding: 10px 15px;
    }

    .padding-left {
      padding-left: 15px;
    }

    .timestamp {
      color: #777777
    }
  }

  .icon-shield {
    color: #FFD3A8
  }
}
