<div>
  <div class="selection-box">

    <h2>
      <span ng-if="selected.length > 0" dynamic-label key="sendpage.label.single-recipient.heading"></span>
      <span ng-if="selected.length == 0" dynamic-label key="sendpage.label.single-recipient.sent.heading"></span>
    </h2>

    <ul class="nav selection-list">
      <li ng-repeat="sr in selected" class="unsent">
        {{sr.name}}
        <i ng-if="userHasSekretessmarkering && sr.trusted" class="icon icon-shield"></i>
      </li>
      <li ng-repeat="r in recipients | orderBy: 'name'">
        <div class="sent">
          {{r.name}}
          <i ng-if="userHasSekretessmarkering && r.trusted" class="icon icon-shield"></i>
          <span class="padding-left timestamp">(Skickat {{r.sentTimestamp | date:'shortDate'}})</span>
        </div>
      </li>
    </ul>

    <div class="button-row">
      <button id="send-to-recipients-btn" ng-click="onSend({selectedRecipients: selected})" class="btn btn-primary"
              type="button" ng-disabled="selected.length < 1">
        <i class="icon icon-ok"></i> <span dynamic-label key="sendpage.btn.send"></span>
      </button>
    </div>

  </div>
</div>