mi-service-banner {
  display: block;

  .text-container {
    @extend %mi-typo-04;
    display: block;
    vertical-align: top;
    position: relative;
    padding: 8px 9px 7px 47px;
    max-width: 1440px;
    margin: 0 auto;

    @media (min-width: $screen-sm-min) {
      width: 750px;
    }

    @media (min-width: $screen-md-min) {
      width: 970px;
    }

    @media (min-width: $screen-lg-min) {
      width: 1170px;
    }

    .alert-icon {
      .icon {
        position: absolute;
        top: 3px;
        left: 15px;
        font-size: 20px;
      }
    }

    a, a:hover {
      color: $mi-color-03;
    }

    a i {
      margin-left: 3px;
    }
  }

  .alert {
    width: 100%;
    padding: 0;
    margin-bottom: 0;
    border-radius: 0;
  }
}
