<div class="faq-page">
  <h1>Vanliga frågor och svar
    <span class="toggle">
      <a href ng-click="openAll()">Öppna alla</a>
      <span class="divider">|</span>
      <a href ng-click="closeAll()">Stäng alla</a>
    </span>
  </h1>

  <p>Här kan du läsa vanliga frågor och svar om tjänsten Mina intyg. Om du inte hittar svar på din fråga kan
    du kontakta <span dynamiclink key="1177eServicesSupport"></span>.</p>
  <p>För medicinska frågor som rör ditt intyg ska du kontakta den som utfärdade ditt intyg, eller den mottagning du
    besökte när du fick ditt intyg utfärdat.</p>


  <div data-ng-repeat="c in faq">
    <h2><i aria-hidden="true" class="icon {{::c.icon}}"></i> {{::c.title}}</h2>
    <div class="panel panel-default" data-ng-repeat="q in c.questions"  data-ng-attr-id="{{::q.id}}">
      <div class="panel-heading" ng-click="toggleQuestion(q)">
        <button aria-expanded="{{!q.closed}}" class="panel-title">
          <span dynamic-label key="{{::q.title}}"></span>

          <i aria-hidden="true"  class="glyphicon pull-right"
             ng-class="{'glyphicon-chevron-up': !q.closed, 'glyphicon-chevron-down': q.closed}"
             tooltip-class="popover-content" tooltip-append-to-body="true" tooltip-trigger="mouseenter">
          </i>
        </button>
      </div>
      <div class="panel-body" uib-collapse="q.closed">
        <div class="panel-content">
          <p><span dynamic-label key="{{::q.body}}"></span></p>
        </div>
      </div>
    </div>
  </div>
</div>
