<div id="welcome-page" class="container">
  <div id="content-body" class="row">
    <div class="col-xs-12 col-sm-6 text-right">
      <img id="welcome-image" alt="Bild av hand" src="/img/mina_intyg_start.jpg" />
    </div>
    <div class="col-xs-12 col-sm-6">
      <h1>Välkommen till Mina intyg</h1>
      <p>
        I Mina intyg kan du läsa och skriva ut dina digitala läkarintyg. Du kan också skicka dem digitalt till antingen Försäkringskassan eller Transportstyrelsen. För att kunna logga in behöver du en e-legitimation.
      </p>
      <p>All informationsöverföring är skyddad (krypterad) och uppfyller vårdens krav på säkerhet och sekretess.</p>
      <p>
        <span dynamiclink key="merInfoElegMvk"></span>
      </p>
      <p class="login-button">
        <a class="btn btn-primary" ng-href="{{config.elva77LoginUrl}}"><i aria-hidden="true" class="icon icon-login"></i> Logga in med e-legitimation</a>
      </p>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
