#welcome-page {
  #welcome-image {
    margin-top: 20px;
    width: 100%;
  }

  a {
    &:visited {
      color: #009200;
      &:hover,
      &:focus,
      &:active {
        color: #ffffff;
      }
    }
  }

  #content-body {
    padding-bottom: 50px;
  }

  .login-button {
    position: relative;
    bottom: 0;
  }

  @media (max-width: $screen-xs-max) {
    .btn-primary {
      display: block;
      width: 100%;
    }
  }
}
