#mi-select-recipients {
  .selection-box {
    background: #fff;
    border: 1px solid #eee;
    min-height: 140px;
    padding: 10px;
  }

  div.button-row {
    margin-top: 10px;
  }

  .selection-list a.unsent {
    &:hover {
      font-weight: bold;
    }

    span {
      text-decoration: underline;
    }
  }
}
