<div id="mi-sending-dialog" class="mi-sending-dialog">
  <div mi-spinner label="sendpage.dialog.label.sending" show-spinner="vm.sending" show-content="!vm.sending">

    <div class="modal-header">
      <button type="button" class="close" ng-click="onBackToCertificate()">×</button>
      <h3 ng-if="vm.someFailed" class="modal-title">
        <span dynamic-label key="sendpage.dialog.label.somefailed.title"></span>
      </h3>
      <h3 ng-if="!vm.someFailed" class="modal-title">
        <span dynamic-label key="sendpage.dialog.label.nonefailed.title"></span>
      </h3>
    </div>

    <div class="modal-body">
      <div ng-if="vm.someFailed" dynamic-label key="sendpage.dialog.label.somefailed.body"></div>
      <div ng-if="!vm.someFailed" dynamic-label key="sendpage.dialog.label.nonefailed.body"></div>
      <br><br>
      <div ng-repeat="r in vm.recipients" class="row result-rows">

        <div class="col-sm-6">
          <span class="sent-status">
            <i class="icon" ng-class="{'icon-ok' :r.status.sent, 'icon-attention danger' :!r.status.sent}"></i>
            <span ng-if="r.status.sent" class="text-nowrap">
              {{r.status.timestamp | date:'short'}}
              <span ng-attr-id="{{'success-result-' + r.id}}" dynamic-label key="sendpage.dialog.label.received-by"></span>
            </span>
            <span ng-if="!r.status.sent">
              <span ng-attr-id="{{'fail-result-' + r.id}}" dynamic-label key="sendpage.dialog.label.not-received-by"></span>
            </span>
          </span>
        </div>
        <div class="col-sm-6">
          {{r.name}}
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button id="back-to-intyg-btn" ng-click="onBackToCertificate()" class="btn" ng-class="{'btn-secondary': vm.someFailed, 'btn-primary': !vm.someFailed}" type="button">
        <i class="icon icon-left-1"></i> <span dynamic-label key="sendpage.dialog.btn.back-to-intyg"></span>
      </button>
    </div>

  </div>
</div>
