<div id="mi-sending-dialog">
  <div mi-spinner label="sendpage.dialog.label.sending" show-spinner="vm.sending" show-content="!vm.sending">

    <div class="modal-header" ng-class="{'bg-danger': vm.someFailed, 'bg-success':  !vm.someFailed}">
      <div ng-if="vm.someFailed" message key="sendpage.dialog.label.somefailed"></div>
      <div ng-if="!vm.someFailed" message key="sendpage.dialog.label.nonefailed"></div>
    </div>

    <div class="modal-body">
      <div ng-repeat="r in vm.recipients" class="row result-rows">

        <div class="col-xs-6">
          <span ng-if="r.status.sent" class="text-nowrap">
            {{r.status.timestamp | date:'longDate'}}
            <span ng-attr-id="{{'success-result-' + r.id}}" message key="sendpage.dialog.label.received-by"></span>
          </span>
          <span ng-if="!r.status.sent">
            <span ng-attr-id="{{'fail-result-' + r.id}}" message key="sendpage.dialog.label.not-received-by"></span>
          </span>
        </div>
        <div class="col-xs-6">
          {{r.name}}
          <i class="glyphicon pull-right" ng-class="{'glyphicon-ok' :r.status.sent, 'glyphicon-warning-sign' :!r.status.sent}"></i>
        </div>


      </div>
    </div>

    <div class="modal-footer">
      <button id="back-to-intyg-btn" ng-click="onBackToCertificate()" class="btn btn-success" type="button">
        <i class="glyphicon glyphicon-arrow-left"></i> <span message key="sendpage.dialog.btn.back-to-intyg"></span>
      </button>
    </div>

  </div>
</div>
