<mi-page-head>
  <div id="send-certificate-page">
    <mi-breadcrumb></mi-breadcrumb>
    <div class="row">
      <div class="col-xs-12 col-sm-9 col-md-6">
        <h1>Skicka ditt intyg till en eller flera mottagare</h1>
        Från den här sidan kan du välja att skicka ditt intyg elektroniskt till en eller flera mottagare. Om du saknar
        din mottagare i listan beror det på att mottagaren inte kan ta emot elektroniska intyg. Du kan då <a
          ng-href="{{downloadAsPdfLink}}">ladda ner /
        skriva ut</a> intyget och skicka det per post istället.
      </div>
      <div class="col-xs-12 col-sm-6" ng-if="vm.userHasSekretessmarkering">
        <h1><i class="icon icon-shield"></i>Myndighet som mottagare</h1>
        Mina intyg kan aldrig garantera hur de tillgängliga mottagarna för ett intyg hanterar sekretessmarkerade
        personuppgifter eller om de följer Skatteverkets vägledning för hur sekretessmarkerade personuppgifter ska hanteras.
        Myndigheter ska ha särskilda rutiner för hantering av sekretessmarkerade personuppgifter.
        <p>Läs mer på sidan <a ui-sref="omminaintyg.juridik">Om mina intyg</a>.</p>
      </div>
    </div>
  </div>
</mi-page-head>

<!-- Content -->
<div mi-spinner label="sendpage.label.loading" show-spinner="vm.initializing" show-content="!vm.initializing">
  <div ng-if="!vm.initializing">
    <div id="send-certificate-page-content">
      <div class="container">


        <mi-compact-certificate-header cert-meta-model="vm.meta"></mi-compact-certificate-header>


        <mi-select-recipients recipients="vm.recipients" default-recipient="{{vm.defaultRecipient}}"
                              on-send="checkSekretessBeforeSend(selectedRecipients)"></mi-select-recipients>

      </div>
    </div>
  </div>
</div>

