<mi-page-head>
  <div id="send-certificate-page">
    <mi-breadcrumb></mi-breadcrumb>
      <h1>Skicka ditt intyg till en eller flera mottagare</h1>
      <div class="row">
        <div class="col-xs-6">
          Från den här sidan kan du välja att skicka ditt intyg elektroniskt till en eller flera mottagare. Om du saknar
          din mottagare i listan beror det troligen på
        </div>
        <div class="col-xs-6">
          att mottagaren inte kan ta emot elektroniska intyg. Du kan då <a ng-href="{{downloadAsPdfLink}}">ladda ner /
          skriva ut</a> intyget och skicka det per
          post istället.
        </div>
      </div>
  </div>
</mi-page-head>

<!-- Content -->
<div mi-spinner label="sendpage.label.loading" show-spinner="vm.initializing" show-content="!vm.initializing">
  <div ng-if="!vm.initializing" class="container">
    <div id="send-certificate-page-content" class="row">
      <div class="col-xs-12">
        <mi-compact-certificate-header cert-meta-model="vm.meta"></mi-compact-certificate-header>
      </div>
      <div class="col-xs-12">
        <mi-select-recipients recipients="vm.recipients" default-recipient="{{vm.defaultRecipient}}"
                              on-send="doSend(selectedRecipients)"></mi-select-recipients>
      </div>

    </div>
  </div>
</div>

</div>
