
#send-certificate-page-content mi-compact-certificate-header {
  margin: 20px 0;
}

.mi-sending-dialog-window-class {
  margin-top: 100px;

  .modal-body {
    min-height: 180px;

    padding: 20px 30px;

    @media (min-width: $screen-sm-min) {
      padding: 20px 60px;
    }

    .result-rows {
      font-weight: bold;
    }

    .icon {
      font-size: 18px;

      &.icon-attention {
        color: $mi-alert-danger-text;
      }

      &.icon-ok {
        color: $mi-success-color;
      }
    }
  }
}
