.mi-sending-dialog-window-class {
  margin-top: 100px;

  .modal-body {
    min-height: 150px;
    padding: 20px 60px;

    .result-rows {
      font-weight: bold;
    }

    .glyphicon-warning-sign {
      color: #a00;
    }

    .glyphicon-ok {
      color: #0a0;
    }
  }
}
