<mi-scroll-to-top></mi-scroll-to-top>
<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <div id="consentTerms">
        <h1 class="page-title"></h1>

        <div class="alert alert-info">
          <h3 class="alert-heading">Ditt samtycke</h3>
          <p>Innan du kan använda tjänsten Mina intyg måste du ge ditt samtycke till att dina intyg får hanteras och
            visas
            där. Läs igenom texten och ge ditt samtycke längst ner på denna sida. Sedan kan du direkt börja använda Mina
            intyg.</p>
        </div>
        <h3><span message key="consent.aboutheader"></span></h3>
        <p><span message key="consent.abouttext"></span></p>

        <div ng-include="'/app/views/about/section-samtycke-common-partial.html'"></div>

        <span message key="about.dina.rattigheter"></span>
        <span message key="about.ge.aterta.samtycke"></span>


        <hr class="divider">
        <p class="consent-button-pretext"><span message key="consent.confirmtext"></span></p>
        <p>
          <button type="button" id="giveConsentButton" ng-click="giveConsent()" class="btn btn-primary">
            <i class="icon icon-lock-open"></i>
            <span message key='consent.giveconsent'></span>
          </button>
        </p>
      </div>
    </div>
  </div>

</div>
