<mi-scroll-to-top></mi-scroll-to-top>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div id="consentTerms">
        <h1 class="page-title"></h1>

        <div class="alert alert-info">
          <h3 class="alert-heading">Ditt samtycke</h3>
          <p>Innan du kan använda tjänsten Mina intyg måste du ge ditt samtycke till att dina intyg får hanteras och
            visas
            där. Läs igenom texten och ge ditt samtycke längst ner på denna sida. Sedan kan du direkt börja använda Mina
            intyg.</p>
        </div>
        <h3><span dynamic-label key="consent.aboutheader"></span></h3>
        <p><span dynamic-label key="consent.abouttext"></span></p>

        <div ng-include="'/app/views/about/section-samtycke-common-partial.html'"></div>

        <span dynamic-label key="about.dina.rattigheter"></span>
        <span dynamic-label key="about.ge.aterta.samtycke"></span>


        <hr class="divider">
        <p class="consent-button-pretext checkbox">
          <label for="giveConsentCheckbox" class="">
            <input type="checkbox" id="giveConsentCheckbox" ng-model="consentConfirmed">
            <span dynamic-label key="consent.confirmtext"></span>
          </label>
        </p>
        <p>
          <button type="button" id="giveConsentButton" ng-click="giveConsent()" ng-disabled="!consentConfirmed" class="btn btn-primary">
            <i class="icon icon-lock-open"></i>
            <span dynamic-label key='consent.giveconsent'></span>
          </button>
        </p>
      </div>
    </div>
  </div>

</div>
