<ul id="tabs">
  <li class="" onclick="javascript:window.location.hash='#lista'"><img src="/img/inkorg_icon.png" /> <message key="label.inbox" /></li>
  <li class="disabled" onclick="javascript:window.location.hash='#arkiverade'"><img src="/img/borttagna_icon.png" /> <message key="label.archived" /></li>
</ul>

<div id="backnav" class="row-fluid">
	<a class="backlink" href="/web/start">Tillbaka</a>
</div>

<!-- Modals -->
<div id="sendModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="sendModalLabel" aria-hidden="true">
  <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	<h3 id="sendModalLabel">Intyget har skickats till Försäkringskassan</h3>
  </div>
  <div class="modal-body">
	<p>Ärendet behandlas nu av Försäkringskassan.</p>
  </div>
  <div class="modal-footer">
	<a href="#" class="btn btn-success" data-dismiss="modal" aria-hidden="true">OK</a>
  </div>
</div>

<div id="archiveModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="archiveModalLabel" aria-hidden="true">
  <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	<h3 id="archiveModalLabel">Vill du arkivera intyget?</h3>
  </div>
  <div class="modal-body">
	<p>Om du väljer att arkivera intyget kommer det inte längre synas i Inkorgen. Du kan när som helst återställa det till Inkorgen från menyvalet Arkiverade intyg.</p>
  </div>
  <div class="modal-footer">
	<button class="btn btn-success">Arkivera</button>
	<a href="#" class="btn btn-link" data-dismiss="modal" aria-hidden="true">Avbryt</a>
  </div>
</div>

<div id="allEventsModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="allEventsModalLabel" aria-hidden="true">
  <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	<h3 id="allEventsModalLabel">Alla händelser</h3>
  </div>
  <div class="modal-body">
	<ul>
		<li>Skickat till Försäkringskassan - 2013-04-04</li>
		<li>Skickat till Försäkringskassan - 2013-03-04</li>
		<li>Skickat till Försäkringskassan - 2013-02-04</li>
		<li>Skickat till Försäkringskassan - 2013-04-04</li>
		<li>Skickat till Försäkringskassan - 2013-03-04</li>
		<li>Skickat till Försäkringskassan - 2013-02-04</li>
		<li>Skickat till Försäkringskassan - 2013-04-04</li>
		<li>Skickat till Försäkringskassan - 2013-03-04</li>
		<li>Skickat till Försäkringskassan - 2013-02-04</li>
		<li>Skickat till Försäkringskassan - 2013-04-04</li>
		<li>Skickat till Försäkringskassan - 2013-03-04</li>
		<li>Skickat till Försäkringskassan - 2013-02-04</li>
		<li>Skickat till Försäkringskassan - 2013-04-04</li>
		<li>Skickat till Försäkringskassan - 2013-03-04</li>
		<li>Skickat till Försäkringskassan - 2013-02-04</li>
		<li>Skickat till Försäkringskassan - 2013-04-04</li>
		<li>Skickat till Försäkringskassan - 2013-03-04</li>
		<li>Skickat till Försäkringskassan - 2013-02-04</li>
	</ul>
  </div>
  <div class="modal-footer">
	<a href="#" class="btn btn-success" data-dismiss="modal" aria-hidden="true">Stäng</a>
  </div>
</div>

<!-- Content -->

<div class="row-fluid">
	<div class="span7">
		<h1>Granska och skicka</h1>
		<p>Här kan du titta på ditt intyg och skicka det till Försäkringskassan. Om du upptäcker några felaktigheter så hör av dig enheten som utfärdade ditt intyg. Du kan även öppna intyget som en PDF och skriva ut och spara.</p>
		<form id="view-as-pdf" action="/api/certificate/dfb6d8a7-47f1-4a76-9bf2-7bc712298dc5.pdf" method="get" target="_blank">
			<p class="btn-row"><button id="send-to-fk" role="button" data-toggle="modal" data-target="#sendModal" type="submit" class="btn btn-success">Skicka till Försäkringskassan</button>
			<button id="downloadprint" type="submit" class="btn btn-inverse">Ladda ner / Skriv ut</button></p>
		</form>
	</div>
	<div class="span5 eventbox">
		<h2>Senaste händelsen</h2>
		<p>2013-04-04</p>
		<ul>
			<li>Skickat till Försäkringskassan</li>
		</ul>
		<a href="#allEventsModal" role="button" data-toggle="modal" onclick="return false">Visa alla händelser</a>
	</div>
</div>
<section id="certificate" class="certificate">
	<div class="row-fluid">
		<div class="span12">
			<div class="cert">
				<div class="cert-titlebar">
					<div class="row-fluid">
						<div class="span6">
							<h2>Läkarintyg <span class="cert-titlebar-type">FK 7263</span></h2>
						</div>
						<div class="span5 issue">
							Utfärdat: <span class="cert-titlebar-value">2013-03-11</span>
						</div>
						<div class="span1 archive">
							<a href="#archiveModal" role="button" data-toggle="modal" onclick="return false"><img src="/img/archive-icon.gif" /></a>
						</div>
					</div>
				</div>
				<div class="cert-header">						
					<div class="row-fluid">
						<div class="span6">
							<span class="tag">Patientens namn</span> <span id="patient-name">Demos Tration</span>
						</div>
						<div class="span6">
							<span class="tag">Enhet</span> <span id="careunit">Vintergatans Mottagning</span>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span6">
							<span class="tag">Personnummer</span> <span id="patient-crn">19520403-4948</span>							
						</div>
						<div class="span6">
							<span class="tag">Utfärdare</span> <span id="caregiver">Sune Andersson</span>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span6">
							<span class="tag">Period</span> <span id="certificate-period">2012-10-21 till 2012-12-25</span>
						</div>
						<div class="span6">
						</div>
					</div>
				</div>
				<div class="cert-body">
					<div class="body-row">
						<span class="title unfilled">Sjukdomsförlopp</span>
					</div>
				
					<div class="body-row">
						<span class="title">Diagnos/diagnoser för sjukdom som orsakar nedsatt arbetsförmåga</span>
						<span id="diagnose" class="text">Pälsallergi från renar.</span>
					</div>
					
					<div class="body-row">
						<span class="title">Funktionsnedsättning</span>
						<span id="functional-disability" class="text">
						  Allergisk rinit och kraftigt tårflöde vid vistelse nära renar.
						</span>
					</div>
					
					<div class="body-row">
						<span class="title">Arbetsförmågenedsättning</span>
						<span id="diagnose" class="text">
						<ul>
							<li>Helt nedsatt från och med 2012-10-21 till och med 2012-12-25</li>
						</ul>
						</span>
					</div>
					<div class="body-row">
						<span class="title">Arbetsförmågan är bedömd i förhållande till</span>
						<span class="text">Nuvarande arbete</span>
					</div>
					
					<div class="body-row">
						  <span class="title">Kommentar</span>
						  <span class="text">Patienten är säsongsarbetare och delar ut presenter med renar som främsta transportmedel och kan inte framföra sin släde på ett säkert sätt</span>
					</div>
					
					<div class="body-row">
						<span class="title unfilled">Prognos</span>
					</div>
					
					<div class="body-row">
						<span class="title unfilled">Behandling</span>
					</div>
						  
					<div class="body-row">
						<span class="title unfilled">Rehabilitering</span>
					</div>
					
					<div class="body-row">
						<span class="title unfilled">Rekommendationer</span>
					</div>
					
					<div class="body-row">
						<span class="title unfilled">Övrigt</span>
					</div>								
					
					<div class="body-row">
						<span class="title">Intyget är baserat på</span>
						<div id="basedOn" class="text">
						  <ul>
							  <li>Undersökning av patienten den 2012-10-21</li>
						  </ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
