<div class="row">
	<div id="help-mina-intyg-root" class="col-xs-12 col-sm-3 col-md-3 col-lg-3 margin-bottom-15px" aria-hidden="{{shouldBeOpen}}">
	  <ul class="nav nav-pills nav-stacked" role="menu" ng-focus="pagefocus" aria-labelledby="link-help-decription">
	    <li ng-class="{'active': visibility['helpdescription'] }"><a id="link-help-decription" href role="menuitem" aria-label="Länk Hjälp beskrivning. Laddar information om hjälp efter denna meny." aria-controls="help-content-description" ng-click="navigateTo('helpdescription')"><span message key="help.helpdescriptionhead"></span><i class="glyphicon glyphicon-chevron-right pull-right"></i></a></li>
	    <li ng-class="{'active': visibility['helpfaq'] }"><a id="link-help-faq" href role="menuitem" aria-label="Länk om vanliga frågor och svar. Laddar vanliga frågor och svar efter denna meny." aria-controls="about-content-samtycke" ng-click="navigateTo('helpfaq')"><span message key="help.helpfaqhead"></span><i class="glyphicon glyphicon-chevron-right pull-right"></i></a></li>
	  </ul>
	</div>
	<div class="visible-xs margin-top-5px"></div>
	<div class="col-xs-12 col-sm-9 col-md-7 col-lg-7" aria-hidden="{{shouldBeOpen}}">
	
	  <div id="help-content-description" ng-show="visibility.helpdescription" aria-hidden="{{!visibility.helpdescription}}" aria-labelledby="link-help-decription">
	      <h1 ng-focus="subpagefocus.helpdescription" tabindex="-1">
			<span id="helpDescriptionHeader"><span message key="help.header"></span></span>
	  	  </h1>
		  <p></p>
		  <span message key="help.description"></span>

		  <h2><span message key="help.supportlinks"></span></h2>
		  <span message key="help.supportlinks.description"></span>
	  </div>
	
	  <div id="help-content-faq" ng-show="visibility.helpfaq" aria-hidden="{{!visibility.helpfaq}}" aria-labelledby="link-help-faq">
	    <h1 ng-focus="subpagefocus.helpfaq" tabindex="-1">
	    	<span id="helpFaqHeader"><span message key="help.faq.header"></span></span>
	    </h1>
	    <p></p>
	    <span message key="help.faq.description"></span>
	    <p></p>
      <div ng-repeat="faqsection in faqs">
        <h2>{{faqsection.title}}</h2>
        <div ng-repeat="faq in faqsection.questions" class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <span data-toggle="collapse" data-parent="#accordion" ng-bind-html="faq.question"></span>
              </h4>
            </div>
            <div class="panel-collapse collapse in">
              <div class="panel-body" ng-bind-html="faq.answer">
              </div>
            </div>
          </div>
        </div>
      </div>
	  </div>
  </div>
</div>