
<div class="row-fluid">
  <h1>
    <span id="aboutHeader"><message key="help.header" /></span>
  </h1>

Vid problem, frågor eller synpunkter vänder du dig till den tekniska supporten för Mina vårdkontakter.


Har du problem med inloggning, glöm inte ange inloggningssätt (e-legitimation eller engångskod) samt tekniska specifikationer såsom vilken webbläsare du använder dig av.
OBS! Mina vårdkontakter besvarar inga medicinska frågor, detta är endast teknisk support för systemet Mina intyg eller Mina vårdkontakter.

<h2>Telefon</h2>
Om du hellre vill ringa kan du få support via telefon: 08-123 135 00.
Öppet alla dagar 8-21.


<h2>E-post</h2>
Mina intyg använder sig av Mina vårdkontakters support:
<a href="https://www.minavardkontakter.se/C125755F00329208/p/VGDO-7PSG9V" target="_blank">Till Mina vårdkontakters kontaktformulär</a>
