
<ul id="tabs">
  <li class="" onclick="javascript:window.location.hash='#lista'"><img src="/img/inkorg_icon.png" />
  <message key="label.inbox" /></li>
  <li class="disabled" onclick="javascript:window.location.hash='#arkiverade'"><img src="/img/borttagna_icon.png" /> label.removed</li>
</ul>

<h1>
  <message key="certificates.header" />
</h1>

<div class="row-fluid">
  <div class="span7">
    <p>
      <message key="certificates.description" />
    </p>
  </div>
  <table id="certTable" class="table expandable" ng-show="certificates.length>0">
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th>Utfärdat</th>
        <th>Typ</th>
        <th>Intygsperiod</th>
        <th>Utfärdat av</th>
        <th>Händelser</th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr ng-repeat="cert in (filteredCertificates = (certificates | filter:{ status:'2'}))" ng-hide="$index > currentDisplaySize"> -->
      <tr ng-repeat="cert in certificates" ng-hide="$index > currentDisplaySize">
        <td><input type="checkbox" ng:model="cert.selected" value="{{cert.id}}"></td>
        <td>{{cert.sentDate}}</td>
        <td>{{cert.type}}</td>
        <td>{{cert.fromDate}}-{{cert.tomDate}}</td>
        <td>{{cert.careunitName}}</td>
        <td>{{cert.status}}</td>
      </tr>
    </tbody>

  </table>
  <div class="table-bottom" ng-hide="certificates.length<1">
    <div id="overflow-selector" class="row" ng-show="certificates.length > initialDisplaySize">
      <div class="expand-selector span2 offset5" ng-show="certificates.length > currentDisplaySize" ng-click="currentDisplaySize = 999">Visa alla</div>
      <div style="" class="collapse-selector span2 offset5" ng-show="currentDisplaySize >= certificates.length" ng-click="currentDisplaySize = initialDisplaySize">Visa färre</div>
    </div>
  </div>
</div>


<div id="noCerts" class="alert alert-error" ng-hide="certificates.length>0">certificates.none</div>
