<!-- View start -->
<h1 ng-focus="pagefocus" tabindex="0" xmlns="http://www.w3.org/1999/html">
  <span id="inboxHeader" message key="inbox.header"></span>
</h1>

<div class="row-fluid">
  <div class="span7">
    <p>
      <div message key="inbox.description"></div>
    </p>
  </div>
</div>
<div class="row-fluid">
  <div class="span12">

    <div mi-spinner label="label.certificatesloading" show-spinner="!doneLoading" show-content="doneLoading && (certificates | inboxfilter).length>0">
      <div id="certTable">
        <div ng-repeat="cert in certificates | inboxfilter" class="{{cert.status}}" data-ng-animate="'custom'">
          <div class="certificate">
            <div class="row-fluid">
              <div class="span12">
                <div id="certificate-{{cert.id}}" class="cert">
                  <div class="cert-titlebar" ng-class="{'cert-cancelled': cert.cancelled}">
                    <a ng-show="!cert.cancelled" ng-click="sendSelected(cert)" ng-href="#"><img class="cert-icon" alt="" ng-src="/img/{{cert.type | lowercase}}.png" /></a>
                    <img ng-show="cert.cancelled" class="cert-icon" alt="" ng-src="/img/{{cert.type | lowercase}}.png" />
                    <div class="row-fluid">
                      <div class="span8">
                        <h2>
                          <a class="cert-title" ng-click="sendSelected(cert)" ng-show="!cert.cancelled" ng-href="#"> 
                          	<span message key="certificatetypes.{{cert.type | lowercase}}.commonname"></span> 
                          	<span class="cert-titlebar-type">
                          		<span message key="certificatetypes.{{cert.type | lowercase}}.typename"></span>
                          	</span>
                          </a>
                          <span class="cert-title" ng-show="cert.cancelled"><span message key="certificatetypes.{{cert.type | lowercase}}.commonname"></span> - <span message key="certificates.status.cancelledlc"></span> <span class="cert-titlebar-type"><span message key="certificatetypes.{{cert.type | lowercase}}.typename"></span></span></span>
                        </h2>
                      </div>
                      <div class="span3 issue">
                        <span message key="listtable.headers.issued"></span> <span class="cert-titlebar-value">{{cert.sentDate | date:'longDate'}}</span>
                      </div>
                      <div class="span1 archive">
                        <a id="archiveCertificateBtn-{{cert.id}}" title="{{messageService.getProperty('button.alt.archive')}}" ng-click="openArchiveDialog(cert)">
                          <img alt="{{messageService.getProperty('button.alt.archive')}}" src="/img/archive-icon.gif" />
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="cert-header">
                    <div class="row-fluid" ng-show="cert.cancelled">
                      <div class="span8 header-row">
                        <div class="alert alert-warning">
                          <span message key="inbox.revoked"></span>
                        </div>
                      </div>
                    </div>
                    <div class="row-fluid">
                      <div class="span8 header-row">
                        <h3 class="tag"><span message key="listtable.headers.issuedby"></span></h3> {{cert.careunitName}}
                      </div>
                      <div class="span3">
                        <h3 class="tag"><span message key="listtable.headers.certperiod"></span></h3> <span id="certificate-period-{{cert.id}}">{{cert.fromDate | date:'longDate'}}&ndash;{{cert.tomDate| date:'longDate'}}</span>
                      </div>
                      <div class="span1"></div>
                    </div>
                    <div class="row-fluid">
                      <div class="span8 header-row">
                        <h3 class="tag"><span message key="listtable.headers.latestEvent"></span></h3>
                        <div ng-show="cert.statuses.length>0">
                          {{cert.statuses[0].timestamp | date:'short'}}
                          <span message key="certificates.status.{{cert.statuses[0].type}}"></span>
                          <span ng-show="cert.statuses[0].type == 'SENT'"><span message key="certificates.target.{{cert.statuses[0].target}}"></span></span>
                          <div collapse="isCollapsed">
                            <div ng-repeat="status in cert.statuses" ng-switch on="$index > 0">
                              <div ng-switch-when="true">
                                {{status.timestamp | date:'short'}}
                                <span message key="certificates.status.{{status.type}}"></span>
                                <span ng-show="status.type == 'SENT'"><span message key="certificates.target.{{status.target}}"></span></span><br>
                              </div>
                            </div>
                          </div>
                          <p>
                            <button class="btn-link btn-link-link" ng-show="cert.statuses.length>1" href="#status" ng-click="isCollapsed = !isCollapsed"><span message key="label.status.{{ !isCollapsed }}"></span></button>
                          </p>
                        </div>
                        <span ng-show="cert.statuses.length==0">Ingen</span>
                      </div>
                      <div class="span3">
                        <button id="viewCertificateBtn-{{cert.id}}" class="btn btn-success" ng-show="!cert.cancelled" ng-disabled="cert.cancelled" ng-click="sendSelected(cert)"><span message key="button.show"></span></button>
                      </div>
                      <div class="span1"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
          <div class="table-bottom" ng-show="(certificates | inboxfilter).length>0"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row-fluid">
	<div id="noCerts" ng-show="doneLoading && (certificates | inboxfilter).length<1" class="alert alert-info">
		<span message key="error.nocerts"></span>
	</div>
</div>

<!-- Cookie information -->
<div class="alert alert-warning block" style="text-align: left; position: fixed; left: 0;bottom: 0;margin: 0;padding: 0;width: auto;display: block;z-index: 99999;">
  <div>
    <button class="btn btn-link" ng-click="toggleCookieInfo()">Om Kakor (Cookies) <span class="caret"></span></button>
  </div>
  <div ng-show="showCookieInfo" class="span7" style="text-align: left; padding: 20px">
    <h3>Kakor (Cookies)</h3> 
    <p>
      Så kallade kakor (cookies) används för att underlätta för besökaren på webbplatsen. En kaka är en textfil som lagras på din dator och som innehåller information. Denna webbplats använder så kallade sessionskakor. Sessionskakor lagras temporärt i din dators minne under tiden du är inne på en webbsida. Sessionskakor försvinner när du stänger din webbläsare. Ingen personlig information om dig sparas vid användning av sessionskakor. Om du inte accepterar användandet av kakor kan du stänga av det via din webbläsares säkerhetsinställningar. Du kan även ställa in webbläsaren så att du får en varning varje gång webbplatsen försöker sätta en kaka på din dator. Observera! Om du stänger av kakor i din webbläsare kan du inte logga in i Mina Intyg. Allmän information om kakor (cookies) och lagen om elektronisk kommunikation finns på Post- och telestyrelsens webbplats.
    </p>
    <p> 
      <a href="http://www.pts.se/sv/Bransch/Regler/Lagar/Lag-om-elektronisk-kommunikation/Cookies-kakor/" target="_blank">Mer om kakor (cookies) på Post- och telestyrelsens webbplats</a>
    </p> 
  </div>
</div>
