<h2>Komponenter för intyg</h2>

<h3>Intygets huvudfält</h3>
<div id="certificate" class="certificate">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="cert">
        <div mi-intyg-main-field cert="cert">
          Här kan det stå extra information beroende på intygstyp
        </div>

        <div class="intyg-body">
          <h3>Intygsfält ifyllt</h3>
          <div mi-field field-label="test.fraga.label" filled="true">
            Här står ett svar som läkaren skrivit
          </div>

          <h3>Intygsfält ej ifyllt</h3>
          <div mi-field field-label="test.fraga.label" filled="false">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>