<h3>Övergripande komponenter för navigation mm</h3>

<p>Cookie banner<br>
<a ng-click="doShowCookieBanner()">Klicka här för att toggla fram cookiebannern</a>
<div ng-if="showCookieBanner">
  <mi-cookie-banner></mi-cookie-banner>
</div
></p>

<h2>Navigationsmeny</h2>
Används bara på ett ställe
<div class="container" id="mi-navigation">
  <div class="content-container">
    <mi-main-navigation default-active="lista"></mi-main-navigation>
  </div>
</div>


<h2>Mina intyg meny</h2>
Används bara på ett ställe
<div class="container" id="mi-logo-header">
  <div class="content-container">
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 pull-left">
        <a href="/web/start" class="navbar-brand"><img class="page-logo" alt="Gå till inkorgen i Mina intyg. Logo Mina intyg" id="logo" src="/img/logo-minaintyg-white-retina.png" /></a>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 pull-right">
        <mi-header user-name="123456-7890"/></mi-header>
      </div>
    </div>
  </div>
</div>

<h2>mvk-meny</h2>
Används bara på ett ställe
<mvk-top-bar></mvk-top-bar>

</div>
