<div>
  <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4 text-center">
    <img src="/img/404.png">
  </div>
  <div class="col-xs-12 text-center text">
    <span message key="{{msgKey}}"></span>

    <div ng-if="showRestoreLink">
      <a id="restore-and-reload-btn" class="btn btn-link" ng-click="restoreAndReload()">Återställ intyget till inkorgen</a>
      <a class="btn btn-link" ui-sref="inkorg">Gå tillbaka till inkorgen</a>

    </div>
  </div>
  <div class="clearfix"></div>
</div>
