mi-compact-certificate-header {
  display: block;


  .mi-compact-certificate-header {
    background: $mi-intyg-header-bg;
    color: $mi-intyg-header-color;
    padding: 15px;

  }


  .icon {
    font-size: 42px;
    line-height: 42px;
  }

  .cert-type-title {
    h1 {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 80%;
      margin: 0;
      padding-top: 3px;
    }
  }

  .complementary-info {
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 80%;

  }

  .certificate-issued-date {
    text-align: right;
    margin-right: 15px;
  }
}
