mi-compact-certificate-header {
  display: block;


  .mi-compact-certificate-header {
    background: $mi-intyg-header-bg;
    color: $mi-intyg-header-color;
    padding: 15px;

    &.revoked {
      background: $mi-intyg-header-revoked-bg;
    }
  }


  .icon {
    margin-right: 10px;
    font-size: 36px;
    line-height: 36px;

    &:before {
      display:inline;
    }
  }

  .cert-type-title {
    h1 {
      display: inline;
    }
  }

  .complementary-info {
    float: left;
  }

  .certificate-issued-date {
    text-align: right;
  }
}
