<div class="container mi-compact-certificate-header" ng-attr-id="mi-compact-certificate-header-{{certMetaModel.id}}">

  <i class="icon icon-doc-text pull-left"></i>

  <div>
    <div class="cert-type-title"><h1>{{getModuleName()}}</h1></div>

    <div>
      <div class="complementary-info">
        <span message key="{{certMetaModel.type | lowercase}}.compact-header.complementaryinfo-prefix"></span>
        <span
            ng-attr-id="certificate-complementary-info-{{certMetaModel.id}}">{{certMetaModel.complementaryInfo}}</span>
      </div>

      <div class="certificate-issued-date">
        <span class="text-nowrap">Intyg utfärdat</span> <b class="text-nowrap">{{certMetaModel.sentDate |
        date:'shortDate'}}</b>
      </div>

    </div>


  </div>

</div>
