<div class="row cert-titlebar mi-compact-certificate-header">
  <div class="col-xs-9">
    <div class="cert-type-title"><i class="glyphicon glyphicon-file gi-2x pull-left" />{{getModuleName()}}</div>
    <div><span ng-if="meta.complementaryInfo"><span message key="{{meta.type | lowercase}}.compact-header.complementaryinfo-prefix"></span> </span>{{meta.complementaryInfo}} </div>
  </div>
  <div class="col-xs-3 certificate-issued">
    Intyg utfärdat <span class="text-nowrap">{{cert.grundData.signeringsdatum | date:'longDate'}}</span>
  </div>
</div>