.mi-compact-certificate-header {
  color: $mi-intyg-header-color;
  margin: 40px 0;
  padding: 10px;
  background: $mi-intyg-header-bg;

  .cert-type-title {
    font-size: 16px;
    font-weight: bold;
  }

  .glyphicon {
    line-height: inherit;
    margin-right: 20px;
  }

  .certificate-issued {
    text-align: right;
  }
}
