<!DOCTYPE html>
<html lang="sv" id="ng-app" ng-app="miWelcomeApp">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="ROBOTS" content="nofollow, noindex" />
<meta name="viewport" content="width=device-width">

<title>Mina Intyg testinloggning</title>
<!-- build:css({build/.tmp,src/main/webapp}) app/app.css -->
<!-- injector:css -->
<link rel="stylesheet" href="/app/app.css">
<!-- endinjector -->
<!-- endbuild -->

<script type="text/javascript" src="bower_components/angular/angular.js"></script>

<style type="text/css">
  textarea {
    font-family: Consolas, Lucida Console, monospace;
    font-size: 0.7em;
  }
</style>

<script type="text/javascript">

    angular.module('miWelcomeApp', [
        'miWelcomeApp.controllers'
    ]);

    angular.module('miWelcomeApp.controllers', []).controller('welcomeController',
        ['$scope', '$http', '$log', function($scope, $http, $log) {

        // Populate with some hard-coded data in case the request to the stub fails (i.e. we're running on demo or qa)
        var localData = [
            {
                "personalIdentity": {
                    "extension": "201212121212",
                    "any": []
                },
                "protectedPersonIndicator": false,
                "testIndicator": false,
                "primaryIdentity": false,
                "name": {
                    "givenName": {
                        "name": "Lilltolvan",
                        "any": []
                    },
                    "middleName": {
                        "any": []
                    },
                    "surname": {
                        "name": "Tolvansson",
                        "any": []
                    },
                    "any": []
                },
                "linkedIdentity": [],
                "addressInformation": {
                    "residentialAddress": {
                        "postalAddress1": "Storgatan 1",
                        "postalCode": 12345,
                        "city": "Småmåla",
                        "any": []
                    },
                    "any": []
                },
                "contactInformation": [],
                "contactPerson": [],
                "confirmedIdentity": [],
                "citizenship": [],
                "relationship": [],
                "attachment": [],
                "any": []
            },{
                "personalIdentity": {
                    "extension": "191212121212",
                    "any": []
                },
                "protectedPersonIndicator": false,
                "testIndicator": false,
                "primaryIdentity": false,
                "name": {
                    "givenName": {
                        "name": "Tolvan",
                        "any": []
                    },
                    "middleName": {
                        "any": []
                    },
                    "surname": {
                        "name": "Tolvansson",
                        "any": []
                    },
                    "any": []
                },
                "linkedIdentity": [],
                "addressInformation": {
                    "residentialAddress": {
                        "careOf": "Svensson",
                        "postalAddress1": "Storgatan 1",
                        "postalAddress2": "PL 1234",
                        "postalCode": 12345,
                        "city": "Småmåla",
                        "any": []
                    },
                    "any": []
                },
                "contactInformation": [],
                "contactPerson": [],
                "confirmedIdentity": [],
                "citizenship": [],
                "relationship": [],
                "attachment": [],
                "any": []
            }
        ];

            function _fetchPuPersons() {
                $http.get('/services/pu-api/person').success(function(data) {
                    $scope.loginModel = _loginModel(data);
                    $scope.selectedIndex = '0';
                }).error(function() {
                    $scope.stubActive = false;
                    $scope.loginModel = _loginModel(localData);
                    $scope.selectedIndex = '0';
                });
            }

            function _isArray(obj) {
                return Object.prototype.toString.call(obj) == "[object Array]";
            }

            function _loginModel(data) {
                if (_isArray(data)) {

                    data
                        .sort(function(a, b) {
                            return a.personalIdentity.extension.localeCompare(b.personalIdentity.extension);
                        });

                    // Add an index property to all items
                    for (var a = 0; a < data.length; a++) {
                        data[a].index = a;
                    }
                    return data;
                }

                return [];
            }


            $scope.loginModel = [];
            $scope.stubActive = true;

            $scope.$watch('selectedIndex', function(newSelected, oldVal) {
                if (newSelected === undefined) {
                    return;
                }

                var jsonEl = angular.element(document.querySelector('#userJson'));
                var jsonElView = angular.element(document.querySelector('#userJsonDisplay'));
                var selector = angular.element(document.querySelector('#jsonSelect'));

                // Catch user login option
                var login = $scope.loginModel[newSelected];

                // Get the HSA person from model
                var puPerson = {
                    personnummer: login.personalIdentity.extension,
                    namn: login.name.givenName.name + ' '
                    + login.name.surname.name,
                    sekretessmarkering: login.protectedPersonIndicator
                };

                var loginJson = JSON.stringify(puPerson, '', 1);
                jsonElView.text(loginJson);
                jsonEl.text(escape(loginJson));
            });

            $scope.login = function() {
                var contextString = angular.element(document.querySelector('#userJsonDisplay')).val();
                var context = JSON.parse(contextString);
                location.href='/web/sso?guid=' + context.personnummer;
            };

            // Fetch fake logins from the PU stub
            _fetchPuPersons();
        }]
    );


</script>
</head>
<body ng-controller="welcomeController">

    <div class="container">

      <div id="content-container">
        <div class="content row">

          <h1 class="page-header">Testinloggningar Mina Intyg</h1>

          <div ng-if="!stubActive"><strong>OBS!</strong><br/>PU-stubben är ej aktiv. För att själv välja identitet, ändra för hand personnumret i användarkontexten i högra rutan.</div>

          <div class="form-group col-sm-8">

            <h4 id="header" ng-if="loginModel.length > 0">Mallar</h4>

            <select id="jsonSelect" name="jsonSelect" ng-model="selectedIndex" size="18" class="form-control"
                    style="width: 100%;max-width:100%">
              <option id="x{{login.personalIdentity.extension}}" ng-repeat="login in loginModel" value="{{login.index}}">
                {{login.personalIdentity.extension}} - {{login.name.givenName.name}} {{login.name.surname.name}}
                {{login.protectedPersonIndicator == 'true' ? '(Sekretess)' :''}}
              </option>
            </select>

            <input id="loginBtn" type="submit" value="Logga in" ng-click="login()" class="btn btn-primary"
                   style="margin-top: 20px;width: 100%">

          </div>

          <div class="form-group col-sm-4">
            <p>
            <h4>Inloggningsprofil</h4>
            <input type="hidden" id="userJson" name="userjson" />
            <textarea id="userJsonDisplay" name="userJsonDisplay" class="field form-control"
                      style="height: 200px;width: 100%;">
            </textarea>
          </div>
        </div>
      </div>
    </div>


</body>
</html>
