.latest-events-modal .modal-content {
    padding: 1em;
}

.latest-events-modal .latest-events-modal-header {
    padding: 0.5em;
    font-weight: bold;
    display: inline-block;
}

.latest-events-modal .close {
    line-height: 0.5em;
}

.latest-events-modal .close-cross {
    font-weight: 300;
    font-size: 1.5em;
    vertical-align: top
}

.latest-events-modal .modal-event-rows {
    max-height: 50vh;
    overflow-y: scroll;
    padding-top: 0.5em;
}

.latest-events-modal .modal-event-row {
    padding: 0.9em;
}

.latest-events-modal .modal-event-text {
    padding-left: 1em;
    padding-right: 2em;
}

.stripe-dark {
    background-color: #ededed;
}

.modal-dialog {
    position: relative;
    display: table;
    overflow-y: scroll;
    overflow-x: auto;
    width: auto;
    min-width: 300px;
    max-width: 95vw;
}

.fa-times-thin:before {
    content: '\00d7';
}
