.latest-events-modal {
  .modal-content {
    padding: 1em;
  }

  .latest-events-modal-header {
    display: inline-block;
    font-weight: bold;
    padding: 0.5em;
  }

  .close {
    line-height: 0.5em;
  }

  .close-cross {
    font-size: 1.5em;
    font-weight: 300;
    vertical-align: top
  }

  .modal-event-rows {
    max-height: 50vh;
    overflow-y: scroll;
    padding-top: 0.5em;
  }

  .modal-event-row {
    padding: 0.9em;
  }

  .modal-event-text {
    padding-left: 1em;
    padding-right: 2em;
  }

  .stripe-dark {
    background-color: #ededed;
  }

  .modal-dialog {
    display: table;
    max-width: 95vw;
    min-width: 300px;
    overflow-x: auto;
    overflow-y: scroll;
    position: relative;
    width: auto;
  }
}

.fa-times-thin:before {
  content: '\00d7';
}
