.cert-table-row {
  padding-bottom: 30px;
}

.last-intyg span {
  padding-left: 15px;
}

.fade-slide-animation {

  &.ng-enter, &.ng-leave {
    position: relative;
    transition: 0.5s linear all;
  }

  &.ng-enter {
    left: -10px;
    opacity: 0;
    &.ng-enter-active {
      left: 0;
      opacity: 1;
    }
  }

  &.ng-leave {
    left: 0;
    opacity: 1;
    &.ng-leave-active {
      left: -10px;
      opacity: 0;
    }
  }

}
