<!-- View start -->
<h1 ng-focus="pagefocus" tabindex="0" xmlns="http://www.w3.org/1999/html">
  <span id="inboxHeader" message key="inbox.header"></span>
</h1>

<div class="row">
  <div class="col-xs-12 col-sm-8 col-md-7 col-lg-7">
    <p>
      <div message key="inbox.description" class="mi-text"></div>
    </p>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
  	<p>
  		<div message key="inbox.description.archive" class="mi-text"></div>
  		<a class="glyphicon glyphicon-question-sign more-info" ng-click="isCollapsedArchive = !isCollapsedArchive" title="{{messageService.getProperty('common.title.helptext.moreinfo')}}"></a>
      	<div uib-collapse="!isCollapsedArchive" class="mi-text well well-sm margin-top-5px"><span message key="mi.helptext.arkivera"></span></div>
  	</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

    <div mi-spinner label="label.certificatesloading" show-spinner="!doneLoading" show-content="doneLoading && (certificates | unarchived).length>0">
      <div id="certTable">
        <div ng-repeat="cert in certificates | unarchived" class="{{cert.status}}" ng-class="{'intyglist': 1}">
          <div class="certificate">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div id="certificate-{{cert.id}}" class="cert">
                  <div class="cert-titlebar" ng-class="{'cert-cancelled': cert.cancelled}">
                    <a ng-show="!cert.cancelled" ng-click="sendSelected(cert)"><img class="cert-icon" alt="" ng-src="/web/webjars/{{cert.type | lowercase}}/minaintyg/img/{{cert.type | lowercase}}.png" /></a>
                    <img ng-show="cert.cancelled" class="cert-icon" alt="" ng-src="/web/webjars/{{cert.type | lowercase}}/minaintyg/img/{{cert.type | lowercase}}.png" />
                    <div class="row">
                      <div class="col-xs-12 col-sm-7 col-md-8 col-lg-8">
                        <h2 class="cert-title">
                          <button class="btn-link btn-link-link" ng-click="sendSelected(cert)" ng-show="!cert.cancelled">
                          	<span message key="certificatetypes.{{cert.type | lowercase}}.commonname"></span><span class="text-nowrap" message key="certificatetypes.{{cert.type | lowercase}}.typename"></span>
                          </button>
                          <span ng-show="cert.cancelled">
                            <span message key="certificatetypes.{{cert.type | lowercase}}.commonname"></span><span message key="certificatetypes.{{cert.type | lowercase}}.typename"></span> - <span message key="certificates.status.cancelledlc"></span>
                          </span>
                        </h2>
                      </div>
                      <div class="col-xs-10 col-sm-4 col-md-3 col-lg-3 issue">
                        <span class="cert-titlebar-value">{{cert.sentDate | date:'shortDate'}}</span>&nbsp;<span message key="listtable.headers.issued"></span>
                      </div>
                      <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1 archive hidden-xs">
                        <button class="archive-only btn-link" id="archiveCertificateBtn-{{cert.id}}" title="{{messageService.getProperty('button.alt.archive')}}" ng-click="openArchiveDialog(cert)">
                        	<span class="glyphicon glyphicon-folder-close white"></span>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="cert-header">
                    <div class="row" ng-show="cert.cancelled">
                      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 header-row">
                        <div class="alert alert-info">
                          <span message key="inbox.revoked"></span>
                          <span message key="inbox.revoked.archive"></span>
                          <a class="glyphicon glyphicon-question-sign more-info" ng-click="isCollapsedRevoked = !isCollapsedRevoked" title="{{messageService.getProperty('common.title.helptext.moreinfo')}}"></a>
                          <div uib-collapse="!isCollapsedRevoked" class="mi-text well well-sm margin-top-5px"><span message key="inbox.revoked.helptext"></span></div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12 col-sm-7 col-md-8 col-lg-8 header-row">
                        <h3 class="tag"><span message key="listtable.headers.issuedby"></span></h3> {{cert.careunitName}}
                      </div>
                      <!--div class="col-xs-12 col-sm-5 col-md-3 col-lg-3">
                        <h3 class="tag"><span message key="{{cert.type | lowercase}}.inbox.complementaryinfo"></span></h3><span id="certificate-period-{{cert.id}}">{{cert.complementaryInfo}}</span>
                      </div-->
                      <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12 col-sm-7 col-md-8 col-lg-8 header-row">
                        <h3 class="tag"><span message key="listtable.headers.latestEvent"></span></h3>
                        <div ng-show="cert.statuses.length>0">
                          {{cert.statuses[0].timestamp | date:'short'}}
                          <span message key="certificates.status.{{cert.statuses[0].type}}"></span>
                          <span ng-show="cert.statuses[0].type == 'SENT'"><span message key="certificates.target.{{cert.statuses[0].target}}"></span>s system</span>
                          <div uib-collapse="isCollapsed">
                            <div ng-repeat="status in cert.statuses" ng-switch on="$index > 0">
                              <div ng-switch-when="true">
                                {{status.timestamp | date:'short'}}
                                <span message key="certificates.status.{{status.type}}"></span>
                                <span ng-show="status.type == 'SENT'"><span message key="certificates.target.{{status.target}}"></span>s system</span><br>
                              </div>
                            </div>
                          </div>
                          <p>
                            <button class="btn-link btn-link-link" ng-show="cert.statuses.length>1" href="#status" ng-click="isCollapsed = !isCollapsed"><span message key="label.status.{{ !isCollapsed }}"></span></button>
                          </p>
                        </div>
                        <span ng-show="cert.statuses.length==0">Ingen</span>
                      </div>
                      <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 pull-left">
                        <button id="viewCertificateBtn-{{cert.id}}" class="btn btn-success" ng-show="!cert.cancelled" ng-disabled="cert.cancelled" ng-click="sendSelected(cert)"><span message key="button.show"></span></button>
                      </div>
                      <div class="col-xs-6 hidden-sm hidden-md hidden-lg pull-right">
                      	<button class="btn btn-primary pull-right" id="archiveCertificateBtn-{{cert.id}}" title="{{messageService.getProperty('button.alt.archive')}}" ng-click="openArchiveDialog(cert)">
                      		<span class="glyphicon glyphicon-folder-close white"></span>
                      	</button>
                      </div>
                      <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
          <div class="table-bottom" ng-show="(certificates | unarchived).length>0"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
	<div id="noCerts" ng-show="doneLoading && (certificates | unarchived).length<1" class="alert alert-info">
		<span message key="error.nocerts"></span>
	</div>
</div>

<!-- Cookie information -->
<div class="row padding-bottom-30px">
  <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
	  <div>
	    Mina intyg använder kakor. <a ng-click="isCollapsedCookieInfo = !isCollapsedCookieInfo">Om Kakor (Cookies)</a>
	  </div>
	  <div uib-collapse="!isCollapsedCookieInfo" class="margin-top-5px">
	  	<div class="mi-text well well-sm">
	  		<span message key="about.cookies"></span>
		</div>
	  </div>

  </div>
</div>
