<mi-page-head>
  <mi-breadcrumb></mi-breadcrumb>

  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <h1 ng-focus="pagefocus" tabindex="0" xmlns="http://www.w3.org/1999/html">
        <span id="inboxHeader" message key="inbox.header"></span>
      </h1>
      <span message key="inbox.description.1"></span>
    </div>

    <div class="col-xs-12 col-sm-6">
      <h1>&nbsp;</h1>
      <i class="icon icon-box"></i><span message key="inbox.description.archive.title"></span>

      <span message key="inbox.description.archive"></span>
    </div>

  </div>
</mi-page-head>


<div mi-spinner label="inbox.label.certificatesloading" show-spinner="!doneLoading"
     show-content="doneLoading && activeCertificates.length>0">
  <div id="certTable">
    <div ng-repeat="cert in activeCertificates" class="fade-slide-animation">
      <mi-year-divider year="cert.yearDivider"></mi-year-divider>
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div id="certificate-{{cert.id}}" class="cert-table-row">
              <mi-compact-certificate-header cert-meta-model="cert" on-view-click="sendSelected(cert)"></mi-compact-certificate-header>
              <mi-compact-certificate-body cert-meta-model="cert" on-view-click="sendSelected(cert)"
                                           on-archive-click="openArchiveDialog(cert)"></mi-compact-certificate-body>
            </div>
            <p ng-if="$last"><span class="text-muted last-intyg" message key="inbox.message.no-more-certificates"></span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<mi-page-message-icon
    id="noCerts"
    img-path="/img/inkorgtom.png"
    msg-key="inbox.message.nocerts"
    ng-if="!errorMessage && doneLoading && activeCertificates.length<1">
</mi-page-message-icon>

<mi-page-message-icon
    id="errorMessage"
    img-path="/img/404.png"
    msg-key="{{errorMessage}}"
    ng-if="doneLoading && errorMessage">
</mi-page-message-icon>
