.cert-header {
  background-color: #ededed;
  border: 1px solid #d8d8d8;
  border-radius: 0 0 8px 8px;
  color: #323232;
  font-weight: bold;
  padding: 10px 0 0;

  .tag {
    color: #656565;
    display: block;
    font-size: 12px;
    font-weight: normal;
    padding: 0;
    text-align: left;
  }

  .row {
    border-bottom: 1px solid #ddd;
    margin-left: 0;
    margin-right: 0;
    padding: 10px 0;

    &:last-child {
      border: 0;
      padding-bottom: 10px;
    }
  }

  .header-row:first-child {
    padding: 0 40px;
  }
}


// Portrait tablet to landscape and desktop
@media (min-width: 768px) and (max-width: 979px) {
  .cert-header {
    .header-row:first-child {
      padding: 0 15px;
    }
  }
}
