.about-mina-intyg-page {
  background-color: $mi-intyg-body-bg;
  height: calc(100vh - 175px);

  .row {
    padding-top:10px;
  }
}
@media (min-width: $screen-sm-min) {
  .about-section {
    h1:first-of-type {
      margin-top: 0;
    }
  }
}
