.about-mina-intyg-page {
  background-color: #fff;

  .row {
    padding-top:10px;
  }
}
@media (min-width: $screen-sm-min) {
  .about-section {
    h1:first-of-type {
      margin-top: 0;
    }
  }
}
