<div id="about-content-omminaintyg">

  <h1>Om Mina intyg</h1>
   Nuvarande version är {{version}}

  <h3>Ansvarig för Mina intyg</h3>
  <p>
    Det är din vårdgivare som är ansvarig för personuppgifter, äger, tillhandahåller och möjliggör åtkomst av intyg i Mina intyg i enlighet
    med Patientdatalagen (2008:355). Mina intyg tillhandahålls av Inera AB på uppdrag av din vårdgivare. Inera är personuppgiftsbiträde av
    personuppgifter i tjänsten.
  </p>
  <p>
    Om du har frågor eller har problem med att använda Mina intyg kan du kontakta <span dynamiclink key="1177eServicesSupport"></span>.
  </p>

  <h3>Tekniska krav, säkerhet och tillgänglighet</h3>
  <p>
    Mina intyg följer riktlinjerna för e-tjänster på 1177. All informationsöverföring är skyddad (krypterad) och Mina intyg uppfyller vårdens krav på säkerhet och sekretess. Det kostar inget att använda tjänsten.
  </p>
  <p>
    Information om tekniska krav för att använda Mina intyg, tillgänglighet, support och information om andra e-tjänster finns på <span dynamiclink key="1177etjanster"></span>.
  </p>
  <p>
    För att kunna generera utskrifter av intygen använder sig Mina intyg av <span dynamiclink key="iText7"></span>. För mer information under vilka villkor iText7 får användas läs mer om AGPL 3.0 på  <span dynamiclink key="agpl30"></span>. För Mina intygs källkod besök <span dynamiclink key="miGithub"></span>. För Mina intygs upphovsrättslicens besök <span dynamiclink key="miLicenseGithub"></span>.
  </p>

  <h3>Kakor (Cookies)</h3>
  <p>
    Mina intyg använder kakor (cookies). En kaka är en textfil som lagras på din enhet och som innehåller information. Mina intyg använder så kallade sessionskakor. Sessionskakor lagras temporärt på din enhets minne under tiden du är inne på en webbsida.
    Sessionskakor försvinner när du stänger din webbläsare. Ingen personlig information om dig sparas vid användning av sessionskakor. Om du inte accepterar användandet av kakor kan du reglera användning av kakor via webbläsarens inställningar.
    Du kan även ställa in webbläsaren så att du får en varning varje gång en webbplats försöker sätta en kaka på din enhet. Om du stänger av kakor i din webbläsare kan du inte logga in i Mina intyg.
  </p>
  <p>
    Allmän information om kakor (cookies) och lagen om elektronisk kommunikation finns på Post- och telestyrelsens webbplats.
  </p>
  <p><span dynamiclink key="ptsCookiesMerOm"></span>.</p>

  <h3>Om du är missnöjd</h3>
  <p>
    Det är din vårdgivare som är personuppgiftsansvarig för behandlingen av dina personuppgifter i Mina intyg. Om du är missnöjd med hur din
    vårdgivare eller Inera hanterar dina uppgifter ska du vända dig till din vårdgivare.
  </p>
</div>
