<h3>Personuppgifter i Mina intyg</h3>
<p>Din vårdgivare är enligt patientdatalagen skyldig att föra patientjournal. De intyg som vårdgivaren utfärdar innehåller uppgifter från patientjournalen.
  När du ger ditt samtycke kommer din vårdgivare att lämna ut kopior av dina intyg till Mina intyg och du kan direkt börja hantera dina intyg i tjänsten. Mina intyg hanterar endast personuppgifter som finns i intygen.</p>
<p>Personuppgifterna finns i Mina intyg för att underlätta för dig. Du ska enkelt kunna hantera dina intyg och välja när och till vem du vill skicka dem.</p>

<h3>Ansvarig för Mina intyg</h3>
<p>Tjänsten Mina intyg drivs av <span dynamiclink key="ineraAb"></span> som är personuppgiftsansvarig för den behandling av personuppgifter om enskilda personer som sker i tjänsten.</p>
<p>Postadress: Box 17703, 118 93 Stockholm<br>Organisationsnummer: 556559-4230</p>
<p>Om du har frågor eller har problem med att använda Mina intyg kan du kontakta <span dynamiclink key="ineraKundserviceKontakt"></span>.</p>

