<h3>Om tjänsten Mina Intyg</h3>
<p>Mina intyg är en webbtjänst där du enkelt kan hantera intyg utfärdade av hälso- och sjukvården. Det är du själv som styr över allt som händer med intygen. All information är skyddad (krypterad) och uppfyller vårdens krav på säkerhet och sekretess.</p>

<h3>Personuppgifter i Mina intyg</h3>
<p>Din vårdgivare är enligt patientdatalagen skyldig att föra patientjournal. De intyg som vårdgivaren utfärdar innehåller uppgifter från patientjournalen.
  När du ger ditt samtycke kommer din vårdgivare att lämna ut kopior av dina intyg till Mina intyg och du kan direkt börja hantera dina intyg i tjänsten. Mina intyg hanterar endast personuppgifter som finns i intygen.</p>
<p>Personuppgifterna finns i Mina intyg för att underlätta för dig. Du ska enkelt kunna hantera dina intyg och välja när och till vem du vill skicka dem.</p>

<h3>Ansvarig för Mina intyg</h3>
<p>Tjänsten Mina intyg drivs av Inera AB som är personuppgiftsansvarig för den behandling av personuppgifter om enskilda personer som sker i tjänsten.</p>
<p>Postadress: Box 17703, 118 93 Stockholm<br>Organisationsnummer: 556559-4230</p>
<p>Om du har frågor eller har problem med att använda Mina intyg kan du kontakta <a href="http://www.inera.se/kontakt" target="_blank">Ineras Kundservice</a>.</p>

<h3>Ge och återta samtycke</h3>
<p>Du kan när som helst återta ditt samtycke.</p>
<p>Om du återtar ditt samtycke upphör Inera att behandla dina personuppgifter, inklusive intyg, i Mina intyg. Om du därefter lämnar ett nytt samtycke kan du återigen se dina intyg.</p>
<p>Även om du lämnar ett nytt samtycke kan det i vissa fall finnas intyg som inte går att visa i Mina intyg igen. Det beror på att den vårdgivare som utfärdat intygen har upphört med sin verksamhet eller har slutat att använda tjänsten av annan anledning under den tid som du har återtagit ditt samtycke.
  De intyg som inte längre kan visas i Mina intyg finns alltid hos vårdgivaren eller hos den vårdgivare eller myndighet som övertagit verksamheten.</p>
<p>Om du vill behålla intygen så kan du ladda ner intygen på din dator innan du återtar ditt samtycke. Gå till inkorgen och välj "Visa intyget", klicka sen på "Spara som PDF".</p>
<p>Om du inte återtar ditt samtycke finns dina intyg kvar i tjänsten.</p>