<div id="about-content-juridik">
  <h1>Lagring och hantering av intyg</h1>

  <span dynamic-label key="about.dina.rattigheter"></span>

  <h3>Lagring och hantering av intyg</h3>
  <p>Enligt patientdatalagen ska alla journaler sparas i minst 10 år. Ett läkarintyg är en del av din journal och kommer
    sparas lika länge som journalen. Din vårdgivare är skyldig att lagra information från patientjournalen.
    Journaluppgifter inom hälso- och sjukvården lyder under sekretess, vilket innebär att de uppgifter som finns i
    intygen endast får hanteras av behöriga personer, det vill säga hälso- och sjukvårdspersonal som
    deltar i
    vården av dig eller behöver uppgifterna för att utföra sina arbetsuppgifter. </p>

  <h3>Myndigheters hantering av sekretessmarkerade personuppgifter </h3>
  <p>Mina intyg kan aldrig garantera hur de tillgängliga mottagarna för ett intyg hanterar sekretessmarkerade
    personuppgifter eller om de följer Skatteverkets vägledning för hur sekretessmarkerade personuppgifter ska hanteras.
    Myndigheter ska ha särskilda rutiner för hantering av sekretessmarkerade personuppgifter, vilket bland annat innebär
    att:
  <ul>
    <li>Kretsen av personer som har tillgång till sekretessmarkerade personuppgifter måste begränsas så mycket som
      möjligt.
    </li>
    <li>Sådana personuppgifter får inte spridas till områden där sekretess för uppgifterna inte föreligger.</li>
    <li>Myndigheten bör regelbundet följa upp att regler och rutiner kring sekretessmarkerade personuppgifter efterlevs
      och respekteras.
    </li>
  </ul>
  Vill du veta mer om hur en specifik mottagare hanterar inkomna handlingar för dig med sekretessmarkering, hänvisar vi
  till den aktuella mottagaren.
  </p>


  <h3>Hantering av intyg i Mina intyg</h3>
  <p>
    När du lämnade ditt samtycke till att använda Mina intyg, skapades en kopia av dina intyg. Alla elektroniska intyg
    lagras i en särskild databas.
    Om du återtar ditt samtycke till att använda Mina intyg, kommer din kopia av dina läkarintyg att raderas. Läs mer om
    detta under <a ui-sref="omminaintyg.samtycke" >Samtycke</a>. </p>
  <p>Det är du som invånare som bestämmer hur du vill hantera din kopia av dina intyg. I Mina intyg kan du till exempel
    ladda ner ett intyg till din enhet och skriva ut,
    välja att skicka intyget elektroniskt till olika mottagare eller skapa ett anpassat sjukpenningintyg att ge din
    arbetsgivare. </p>
  <p>Mina intyg följer Skatteverkets vägledning för hantering av sekretessmarkerade personuppgifter och eSams vägledning
    Eget utrymme hos myndighet.
    Mina intyg ger också dig, som invånare med sekretessmarkering, information i tjänsten beroende på hur du vill
    hantera ditt intyg.
    Till exempel ges information när du ska skicka intyget om vilka mottagare som är myndigheter och ska ha särskilda
    rutiner för hantering av intyg för invånare med sekretessmarkering.
    Mina intyg kan dock inte garantera att någon mottagare hanterar intyget på ett visst sätt. Det är du som invånare
    som ytterst ansvarar för hur du hanterar dina intyg.</p>
  <p>Läs mer om Skatteverkets vägledning för hantering av sekretessmarkerade
    personuppgifter <span dynamiclink key="skatteverketSekretessmarkeradePersonuppgifter"></span>.</p>

  <h3>Radering av information i din patientjournal</h3>
  <p>Om du vill att hela eller delar av din patientjournal ska raderas kan du begära detta hos <span dynamiclink key="ivo"></span>.
    För att IVO ska besluta att radera en journaluppgift eller en hel patientjournal krävs det att du har
    godtagbara skäl för det, att det är uppenbart att uppgifterna inte behövs för din vård samt att det ur allmän
    synpunkt är uppenbart att det inte finns skäl att bevara journalen.</p>
  <p>Ett exempel på skäl att bevara journalen är att uppgifterna ligger till grund för olika beslut och åtgärder hos
    andra myndigheter eller att de behövs för forskning eller statistik.</p>

  <h3>Lagar som styr hantering av personuppgifter inom hälso- och sjukvården</h3>
  <p>
    <span dynamiclink key="personuppgiftslagen"></span> och <span dynamiclink key="patientdatalagen"></span> är de lagar som reglerar hur personuppgifter behandlas.<br>
    <span dynamiclink key="1177uppgifterSkyddasHanteras"></span>.
    <br>
    <span dynamiclink key="1177patientjournalen"></span>.</p>
</div>