<div id="about-content-juridik">
  <h1>Lagring och hantering av intyg</h1>

  <h3>Vill du påverka uppgifterna i din patientjournal?</h3>
  <p>
    Det finns tre sätt för dig att påverka innehåller i din patientjournal. Rättelse, notering i journal och genom ansökan om journalförstöring.
  </p>
  <p>
    Om uppgifter i din patientjournal är felaktiga ska du vända dig till vårdgivaren med en begäran om rättelse.
    Om du inte kommer överens med vårdgivaren om rättelse kan du begära notering i journalen, om att du som patient anser att det finns oriktiga eller missvisande uppgifter i din journal.
    Vårdgivaren får inte neka dig en sådan notering enligt 3 kap 8 § patientdatalagen (2008:355) PDL.
  </p>
  <p>
    Journalförstöring är i undantagsfall en möjlighet till radering av uppgifter i en journal som är psykiskt belastande för den enskilde patienten om uppgifterna bevaras.
    Det är endast patienten eller någon som omnämns i en patientjournal som kan ansöka om att hela eller delar av den ska förstöras.
    En ansökan om journalförstöring ska ställas till Inspektionen för vård och omsorg.
  </p>

  <h3>Om myndigheters hantering av sekretessmarkerade personuppgifter</h3>
  <p>
    Mina intyg kan aldrig garantera hur de tillgängliga mottagarna för ett intyg hanterar sekretessmarkerade personuppgifter eller om de följer Skatteverkets vägledning för hur sekretessmarkerade personuppgifter ska hanteras.
    Myndigheter ska ha särskilda rutiner för hantering av sekretessmarkerade personuppgifter, vilket bland annat innebär följande.
  </p>
  <ul>
    <li>
      Kretsen av personer som har tillgång till sekretessmarkerade personuppgifter måste begränsas så mycket som möjligt.
    </li>
    <li>
      Myndigheten bör regelbundet följa upp att regler och rutiner kring sekretessmarkerade personuppgifter efterlevs och respekteras.
    </li>
  </ul>
  <p>
    Vill du veta mer om hur en specifik mottagare hanterar inkomna handlingar för dig med sekretessmarkering, hänvisar vi till den aktuella mottagaren.
  </p>

  <h3>Lagar som styr hantering av personuppgifter inom hälso- och sjukvården</h3>
  <p><span dynamiclink key="pdl"></span></p>
  <p><span dynamiclink key="gdpr"></span></p>
  <p>Socialstyrelsens föreskrifter. Mer information om föreskrifter finns hos <span dynamiclink key="socialstyrelsen"></span>.</p>
  <p>Mer information om hantering av personuppgifter i patientjournalen hos <span dynamiclink key="1177"></span>.</p>

</div>
