<div id="about-content-omminaintyg">

  <h1>Om Mina intyg</h1>
   Nuvarande version är {{version}}

  <h3>Så använder du Mina intyg</h3>
  <p>
    Du kan bara använda tjänsten för din egen person. Tjänsten är tillgänglig dygnet runt. Det är din vårdgivare som tillhandahåller Mina intyg och möjliggör direktåtkomst för dig i enlighet med Patientdatalagen (2008:355).
    Vårdgivaren äger intygen som finns lagrade i Mina intyg.
  </p>
  <p>
    Din vårdgivare har efter uppdrag från dig valt möjliga mottagare som du kan skicka dina intyg till. Du väljer vilka mottagare som ska få intyget i tjänsten Mina intyg.
    Väljer du att inte skicka iväg ett intyg kommer din vårdgivare inte att göra det.
  </p>

  <h3>Ansvarig för Mina intyg</h3>
  <p>
    Din vårdgivare är ansvarig för personuppgiftsbehandlingen i Mina intyg. Mina intyg tillhandahålls av <span dynamiclink key="ineraAb"></span> på uppdrag av din vårdgivare.
    Inera är personuppgiftsbiträde för den behandling av personuppgifter som sker i tjänsten.
  </p>
  <p>
    Om du har frågor eller har problem med att använda Mina intyg kan du kontakta <span dynamiclink key="ineraKundserviceKontakt"></span>.
  </p>

  <h3>Tekniska krav, säkerhet och tillgänglighet</h3>
  <p>
    Mina intyg följer 1177 Vårdguidens riktlinjer för e-tjänster. All informationsöverföring är skyddad (krypterad) och Mina intyg uppfyller vårdens krav på säkerhet och sekretess. Det kostar inget att använda tjänsten.
  </p>
  <p>
    Information om tekniska krav för att använda Mina intyg, tillgänglighet, support och information om andra e-tjänster finns på <span dynamiclink key="1177etjanster"></span>.
  </p>

  <h3>Kakor (Cookies)</h3>
  <p>
    Mina intyg använder kakor (cookies). En kaka är en textfil som lagras på din enhet och som innehåller information. Mina intyg använder så kallade sessionskakor. Sessionskakor lagras temporärt på din enhets minne under tiden du är inne på en webbsida.
    Sessionskakor försvinner när du stänger din webbläsare. Ingen personlig information om dig sparas vid användning av sessionskakor. Om du inte accepterar användandet av kakor kan du reglera användning av kakor via webbläsarens inställningar.
    Du kan även ställa in webbläsaren så att du får en varning varje gång en webbplats försöker sätta en kaka på din enhet. Om du stänger av kakor i din webbläsare kan du inte logga in i Mina intyg.
  </p>
  <p>
    Allmän information om kakor (cookies) och lagen om elektronisk kommunikation finns på Post- och telestyrelsens webbplats.
  </p>
  <p><span dynamiclink key="ptsCookiesMerOm"></span>.</p>

  <h3>Försäkringskassans Mina sidor</h3>
  <p>
    Mina sidor är en tjänst från Försäkringskassan där du kan bifoga ditt intyg i samband med att du gör din ansökan om exempelvis sjukpenning.
    För frågor och mer information om den processen hänvisar vi till <span dynamiclink key="forsakringskassan"></span>.
  </p>

  <h3>Om du är missnöjd</h3>
  <p>
    Det är din vårdgivare som är personuppgiftsansvarig för behandlingen av dina personuppgifter i Mina intyg. Om du är missnöjd med hur din vårdgivare eller Inera hanterar dina uppgifter ska du vända dig till din vårdgivare.
    Du har ett flertal rättigheter som din vårdgivare kan lämna mer information om.
  </p>

  <h3>Bakgrund</h3>
  <p>
    Under 2011 infördes e-tjänsten Läkarintyg i Sverige. Tjänsten innebar att läkare kunde skicka läkarintyg elektroniskt från journalsystemet till Försäkringskassan.
    Webbtjänsten Mina intyg är en utveckling av e-tjänsten Läkarintyg och gör det möjligt för en patient att styra över vilken mottagare som ska få tillgång till patientens intyg.
    Idag går det att skicka sina läkarintyg till Försäkringskassan och Transportstyrelsen. Framöver blir det även möjligt att skicka läkarintyg till andra mottagare, som till exempel försäkringsbolag och andra myndigheter.
  </p>
</div>
