<div id="about-content-samtycke">
  <h1>Samtycke</h1>

  <div class="alert alert-info">
    <h3>Återta Samtycke</span></h3>
    <p>Du kan när som helst återta ditt samtycke.</p>


    <p>Om du återtar ditt samtycke upphör Inera att behandla dina personuppgifter, inklusive intyg, i Mina intyg. Om du
      därefter lämnar ett nytt samtycke kan du återigen se dina intyg.</p>

    <p>Även om du lämnar ett nytt samtycke kan det i vissa fall finnas intyg som inte går att visa i Mina intyg igen.
      Det beror på att den vårdgivare som har utfärdat intygen upphört med sin verksamhet,
      eller slutat att använda tjänsten av annan anledning, under den tid som du har återtagit ditt samtycke. De intyg
      som inte längre kan visas i Mina intyg finns alltid hos vårdgivaren eller hos
      den vårdgivare eller myndighet som övertagit verksamheten.</p>
    <p>Om du vill behålla intygen så kan du ladda ner intygen på din dator innan du återtar ditt samtycke. Gå till inkorgen och välj "Visa intyget", klicka sen på "Spara som PDF".</p>
    <p>Om du inte återtar ditt samtycke finns dina intyg kvar i tjänsten.</p>

    <p>
      <button id="revokeConsentBtn" type="button" ng-click="openRevokeDialog()" class="btn btn-secondary">
        <i class="icon icon-lock"></i> Återta samtycke
      </button>
    </p>
  </div>


  <div ng-include="'/app/views/about/section-samtycke-common-partial.html'"></div>

  <span message key="about.ge.aterta.samtycke"></span>
</div>