<div id="help-content-info">
  <h1>Hjälp och support</h1>
  <p>Vanliga frågor om Mina intyg finns besvarade under  <a ui-sref="omminaintyg.faq">vanliga frågor och svar</a>. </p>
  <p>Om du inte hittar svar på dina frågor kan du kontakta <span dynamiclink key="ineraKundserviceKontakt"></span>.</p>
  <p>Det är bra om du beskriver ditt problem så noga som möjligt. Det kan till exempel vara hur du har loggat in i
    tjänsten och vilken webbläsare du använder.</p>
  <p>Observera att detta endast är teknisk support för Mina intyg. Om ditt ärende gäller andra tjänster hos exempelvis
    1177 Vårdguiden eller Försäkringskassan så ska du vända dig direkt till deras support. För medicinska frågor som
    rör ditt intyg ska du kontakta den som utfärdade ditt intyg, eller den mottagning du besökte när du fick ditt
    intyg utfärdat.</p>
</div>
