<div id="about-content-omminaintyg">

  <h1>Om Mina intyg</h1>
   Nuvarande version är {{version}}.

  <h3>Så använder du Mina intyg</h3>
  <p>Första gången du loggar in i Mina intyg måste du ge ditt samtycke till att dina personuppgifter hanteras i tjänsten. Därefter kan du börja använda Mina intyg omedelbart.
    Du kan bara använda tjänsten för din egen person. Tjänsten är tillgänglig dygnet runt.</p>

  <h3>Säkerhet</h3>
  <p>All informationsöverföring är skyddad (krypterad) och Mina intyg uppfyller vårdens krav på säkerhet och sekretess. Det kostar inget att använda tjänsten och du kan hantera dina intyg när och var det passar dig.</p>

  <h3>Ansvarig för Mina intyg</h3>
  <p>Tjänsten Mina intyg drivs av <span dynamiclink key="ineraAb"></span> som är personuppgiftsansvarig för den behandling av personuppgifter om enskilda personer som sker i tjänsten.</p>
  <p>Postadress: Box 17703, 118 93 Stockholm<br/>
    Organisationsnummer: 556559-4230</p>
  <p>Om du har frågor eller har problem med att använda Mina intyg kan du kontakta <span dynamiclink key="ineraKundserviceKontakt"></span>.</p>

  <h3>Tekniska krav och tillgänglighet</h3>
  <p>Mina intyg följer 1177 Vårdguidens riktlinjer för e-tjänster.</p>
  <p>Information om tekniska krav för att använda Mina intyg, tillgänglighet, support och information om andra e-tjänster finns på <span dynamiclink key="1177etjanster"></span>.</p>

  <h3>Kakor (Cookies)</h3>
  <p>Mina intyg använder kakor (cookies). En kaka är en textfil som lagras på din dator och som innehåller information. Mina intyg använder så kallade sessionskakor. Sessionskakor lagras temporärt i din dators minne under tiden du är inne på en webbsida.
    Sessionskakor försvinner när du stänger din webbläsare. Ingen personlig information om dig sparas vid användning av sessionskakor.
    Om du inte accepterar användandet av kakor kan du stänga av det via din webbläsares säkerhetsinställningar. Du kan även ställa in webbläsaren så att du får en varning varje gång en webbplats försöker sätta en kaka på din dator.</p>
  <p><strong>Observera!</strong> Om du stänger av kakor i din webbläsare kan du inte logga in i Mina intyg.</p>
  <p>Allmän information om kakor (cookies) och lagen om elektronisk kommunikation finns på Post- och telestyrelsens webbplats.</p>
  <p><span dynamiclink key="ptsCookiesMerOm"></span>.</p>


  <h3>Försäkringskassans Mina sidor</h3>
  <p>Mina sidor är en tjänst från Försäkringskassan där du kan bifoga ditt intyg i samband med att du gör din ansökan om exempelvis sjukpenning.
    För frågor och mer information om den processen hänvisar vi till <span dynamiclink key="forsakringskassan"></span>.</p>

  <h3>Bakgrund</h3>
  <p>Under 2011 infördes e-tjänsten Läkarintyg i Sverige. Det innebär att läkaren kan skicka läkarintyg elektroniskt från journalsystemet till Försäkringskassan.
    Webbtjänsten Mina intyg är en utveckling av e-tjänsten Läkarintyg, som gör det möjligt för invånaren att själv hantera sina intyg och få inflytande över vilken mottagare som ska få tillgång till intygen.</p>
  <p>Idag går det att skicka sina läkarintyg till Försäkringskassan och Transportstyrelsen. Framöver blir det även möjligt att skicka läkarintyg till andra mottagare, som till exempel försäkringsbolag och fler myndigheter.</p>
</div>
