<div id="help-content-info">
  <h1>Hjälp och support</h1>
  <p>Du kan få svar på vanliga frågor om Mina intyg under <a ui-sref="omminaintyg.faq">vanliga frågor och svar</a>.</p>

  <p>Om du inte hittar svar på dina frågor eller om något är fel i Mina intyg kan du kontakta
    <span dynamiclink key="1177eServicesSupport"></span>. Supporten har lättare att hjälpa dig om du beskriver ditt problem så noga som
    möjligt. De kan till exempel behöva få information om hur du har loggat in i Mina intyg och vilken webbläsare du använder.</p>

  <p>Om ditt ärende gäller problem hos Försäkringskassan ska du vända dig direkt till deras support.</p>

  <p>Om du har frågor om eller vill diskutera det medicinska innehållet i ditt intyg ska du kontakta den vårdmottagning du hade kontakt med
    när du fick intyget.</p>
</div>
