body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: -0px;
    width: 465px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:60px;
    top:224px;
    width:350px;
    height:96px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1_normal {
    background-image: url('../Start_1_files/u1_normal.png');
}

.u1_container {
    position:absolute;
    left:0px;
    top:390px;
    width:225px;
    height:25px;
}

#u1_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:231px;
    height:31px;
}

.u2 {
    position:absolute;
    left:2px;
    top:4px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:60px;
    top:160px;
    width:350px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:130px;
    top:354px;
    width:220px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../Start_1_files/u1_normal.png');
}

.u5_container {
    position:absolute;
    left:240px;
    top:390px;
    width:225px;
    height:25px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:231px;
    height:31px;
}

.u6 {
    position:absolute;
    left:2px;
    top:4px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../Start_1_files/u1_normal.png');
}

.u7_container {
    position:absolute;
    left:0px;
    top:430px;
    width:225px;
    height:25px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:231px;
    height:31px;
}

.u8 {
    position:absolute;
    left:2px;
    top:4px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

