mi-page-head {
  display: block;
  background-color: #fff;
  box-shadow: 0 3px 5px $mi-box-shadow-color;
  margin-bottom: 40px;
  padding: 0px 0 20px 0;

  h1 {
    margin-top: 10px;
  }

  .btn-link-chevron {
    padding-left: 0;
    color: $mi-color-30;
    text-decoration: underline;
  }
}

.page-head-wrapper{
  a{
    text-decoration: underline;
  }
}
