@CHARSET "UTF-8";

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.multiline {
  white-space: pre-line;
  word-wrap: break-word;
  max-width: 100%;
}

.content-wrapper {
  min-height: calc(100vh -  #{$mi-footer-height});
  padding-bottom: 120px;
}

/* Used to create a row with columns of equal height */
.flex-row.row {
  display: flex;
  flex-wrap: wrap;
}
.flex-row.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
.flex-row.row:after,
.flex-row.row:before {
  display: flex;
}

.page-title {
  padding-top: 40px;
}

.divider {
  border: none;
  border-top: 1px solid #ccc;
  margin: 20px 0 0 0;
  padding-bottom: 20px;
}

.alert {
  padding: 15px 20px 15px 20px;
  border-radius: 2px;
}

.error-logout {
  padding-top: 20px;
}
