#mi-compact-certificate-header {
  color: #fff;
  padding:10px;
  margin:40px 0;

  .cert-type-title {
    font-size: 16px;
    font-weight: bold;
  }

  .glyphicon {
    margin-right:20px;
    line-height: inherit;
  }

  .certificate-issued {
    text-align: right;
  }
}
