#mi-compact-certificate-header {
  color: #fff;
  margin: 40px 0;
  padding: 10px;

  .cert-type-title {
    font-size: 16px;
    font-weight: bold;
  }

  .glyphicon {
    line-height: inherit;
    margin-right: 20px;
  }

  .certificate-issued {
    text-align: right;
  }
}
