<div>
	<div class="navbar-header">
		<button class="btn btn-success navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-nav" ng-click="isCollapsed = !isCollapsed">
			<span>Meny</span>
		</button>
	</div>
	<div class="hidden-xs" role="navigation">
		<ul class="nav navbar-nav">
			<li ng-class="navClass('lista')"><a role="menuitem" ui-sref="lista" id="inboxTab"><message key="nav.label.inbox"></message></a></li>
		    <li class="divider-vertical" aria-hidden="true"></li>
		    <li ng-class="navClass('arkiverade')"><a role="menuitem" ui-sref="arkiverade" id="archivedTab"><message key="nav.label.archived"></message></a></li>
		    <li class="divider-vertical" aria-hidden="true"></li>
		    <li ng-class="navClass('omminaintyg')"><a role="menuitem" ui-sref="omminaintyg" id="aboutTab"><message key="nav.label.aboutminaintyg"></message></a></li>
		    <li class="divider-vertical" aria-hidden="true"></li>
		    <li ng-class="navClass('hjalp')"><a role="menuitem" ui-sref="hjalp" id="helpTab"><message key="nav.label.help"></message></a></li>
		</ul>
	</div>
	<div class="collapse" uib-collapse="!isCollapsed">
		<ul class="nav navbar-nav">
			<li ng-class="navClass('lista')"><a role="menuitem" ui-sref="lista" id="inboxTab" ng-click="isCollapsed = !isCollapsed"><message key="nav.label.inbox"></message></a></li>
		    <li class="divider-vertical" aria-hidden="true"></li>
		    <li ng-class="navClass('arkiverade')"><a role="menuitem" ui-sref="arkiverade" id="archivedTab" ng-click="isCollapsed = !isCollapsed"><message key="nav.label.archived"></message></a></li>
		    <li class="divider-vertical" aria-hidden="true"></li>
		    <li ng-class="navClass('omminaintyg')"><a role="menuitem" ui-sref="omminaintyg" id="aboutTab" ng-click="isCollapsed = !isCollapsed"><message key="nav.label.aboutminaintyg"></message></a></li>
		    <li class="divider-vertical" aria-hidden="true"></li>
		    <li ng-class="navClass('hjalp')"><a role="menuitem" ui-sref="hjalp" id="helpTab" ng-click="isCollapsed = !isCollapsed"><message key="nav.label.help"></message></a></li>
		</ul>
	</div>
</div>
