<div id="{{dialogId}}" class="modal-header">
  <button type="button" class="close" ng-click="button2click()">×</button>
  <h3 ng-focus="dialog.focus" class="modal-title" tabindex="-1">
    <span message key="{{titleId}}"></span>
  </h3>
</div>
<div class="modal-body">
  <p><span message key="{{bodyTextId}}"></span></p>
</div>
<div class="modal-footer">
  <button type="button" id="{{button1id}}" class="btn btn-primary" ng-disabled="!dialog.acceptprogressdone" ng-click="button1click()">
    <i ng-if="!dialog.acceptprogressdone" class="icon icon-spinner animate-spin"></i>
    <i ng-if="button1icon && dialog.acceptprogressdone" class="icon" ng-class="button1icon"></i> <span message key="{{button1text}}"></span>
  </button>
  <button type="button" id="{{button2id}}" class="btn btn-third" ng-click="button2click()">
    <i ng-if="button2icon" class="icon" ng-class="button2icon"></i> <span message key="{{button2text}}"></span>
  </button>
  <button type="button" id="{{button3id}}" ng-if="button3Visible" class="btn btn-third" ng-click="button3click()">
    <i ng-if="button3icon" class="icon" ng-class="button3icon"></i> <span message key="{{button3text}}"></span>
  </button>
</div>
