<div class="modal-header">
  <button type="button" class="close" ng-click="button2click()" ng-disabled="!dialog.acceptprogressdone">×</button>
  <h3 class="modal-title" tabindex="-1">
    <span dynamic-label key="{{titleId}}"></span>
  </h3>
</div>
<div class="modal-body">
  <span ng-if="bodyTextId !== undefined" dynamic-label key="{{bodyTextId}}"></span>
  <span ng-if="bodyText !== undefined" ng-bind-html="bodyText"></span>
</div>

<div class="modal-footer">
    <button id="close-button" type="button" class="btn btn-primary" ng-click="$close()"><span dynamic-label key="{{button1text}}"></span></button>
</div>
