<div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>
          <span message key="info.loggedout.fk.title"></span>
        </h1>
        <div id="genericTechProblem" class="alert alert-info">
          <span message key="info.loggedout.fk.text"></span>
        </div>
      </div>
      <p class="btn-row-desc">Inloggningen sker via 1177 Vårdguiden</p>
      <div class="btn-row">
        <a class="btn btn-primary" ng-href="{{config.mvkMainUrl}}"><i class="icon icon-login"></i> Logga in</a>
      </div>
    </div>
</div>