/* Large desktop */
@media (min-width: 1200px) {
	
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	.cert-header .header-row:first-child {
		padding: 0 15px 0 15px;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	.cert-header .header-row:first-child {
		padding: 0 15px 0 15px;
	}
	.btn {
		padding: 10px 25px;
		font-weight: bold;
		border: none;
	}
	.issue {
		padding: 12px 15px 10px 15px;
	}
	.cert-titlebar .cert-title {
		color: #fff;
		padding: 10px 0 5px 25px;
		display: inline-block;
	}
	.cert-body .body-row .text {
		display: block;
		padding: 10px 15px;
	}
	.ts-table th, .ts-table tr {
		font-size: 12px !important;
	}
	.ts-table tbody td { padding: 5px !important; }
}

/* Landscape phones and down */
@media (max-width: 480px) {

}