mi-scroll-to-top {

  cursor: pointer; cursor: hand;

  .scrollToTop {
    text-align: center;
    width: 50px;
    height: 50px;
    color: white;
    background: #21263D;
    position: fixed;
    bottom: 100px;
    right: 100px;
    border: 2px solid;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .enter {
    right: 0;
  }

  .upparrowSize {
    width: 15px;
    height: 7px;
  }

  .exit {
    right: -100px;
  }

  .enter-add, .enter-remove {
    transition: all ease-in-out 0.1s;
  }

  .exit-add, .exit-remove {
    transition: all ease-in-out 0.1s;
  }
}
