mi-main-navigation {
  .container {
    padding: 0;
  }
  .navbar-nav {
    margin: 0;
  }

  .container > .navbar-header {
    margin: 0;
  }

  .navbar {
    margin: 0;
  }

  .navbar-default .navbar-toggle .icon-bar {
    background-color: $mi-color-02;
  }

  .navbar-default .navbar-toggle {
    border-color: $mi-color-02;
  }

  .navbar-default .navbar-nav > li > a {
    color: $mi-color-02;
  }

  .navbar-default .navbar-nav > li > a:hover {
    color: #0F6EDC;
  }

  @media (min-width: $screen-sm-min) {
    .navbar {
      border-radius: none;
    }
    .navbar {
      position: relative;
      min-height: 50px;
      margin-bottom: 0;
      border: none;
    }
  }
}
