mi-compact-certificate-body {
  display: block;

  .mi-compact-certificate-body {
    background: $mi-intyg-body-bg;
    padding: 15px;
    box-shadow: 0 3px 5px $mi-box-shadow-color;

  }
  .body-col {
    padding-top: 30px;
  }

  .compact-body-latest-events {
    //overide of latest-events styles. May we should instead extend that directive to allow for more detailed styling via attributes?

    .lastevent-header {
      font-weight: normal;
      color: $text-muted;
    }

    .latest-events-timestamp {
      font-weight: bold;
    }
  }
}

