.cookie-banner-directive {
  border: 0;
  left: 0;
  margin: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 20;

  .alert {
    border-radius: 0;
    max-width: inherit;
  }

}

@media (max-width: 768px) {

  .cookie-banner-directive {
    .cookie-banner__text-scroll {
      overflow-y: scroll;
      max-height: 250px;
    }

    .cookie-banner__button {
      padding-top: 10px;
    }
  }
}
