<div class="inline-block">

  <i class="icon icon-{{stateIconName}}"></i>

  <span id="backnav" ng-show="steps.length > 1 && enableLinks">
    <a class="backlink" ui-sref="inkorg"><i class="icon icon-left-1"></i></a> <a class="backlink" ui-sref="inkorg"><message key="button.goback" /></a>
  </span>

  Du är här:
  <ol class="breadcrumb">
    <li ng-repeat="step in steps | limitTo:(steps.length-1)">
      <button ng-if="step.stateConfig.link" class="btn btn-link" ng-click="link(step)">{{step.stateConfig.label}}</button>
      <span ng-if="!step.stateConfig.link" ng-bind-html="step.stateConfig.label"></span>
    </li>
    <li ng-repeat="step in steps | limitTo:-1" class="active">
      <span ng-bind-html="step.stateConfig.label"></span>
    </li>
  </ol>
</div>
