/* bootstrap override specific for this directive */
.breadcrumb {
  display: inline;
  padding: 0;
  background-color: transparent;

  >li+li:before {
    content: "/";
  }
}

mi-breadcrumb {
  display: block;
  padding: 10px 0 10px 0;
  color: $mi-disabled-color;

  .btn.btn-link {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    &:active {
      outline: none;
    }
  }
}
