<mi-page-head>
  <mi-breadcrumb></mi-breadcrumb>


  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <h1 ng-focus="pagefocus" tabindex="0">
        <span id="archivedHeader" dynamic-label key="archived.header"></span>
      </h1>
      <span dynamic-label key="archived.description"></span>
    </div>

    <div class="col-xs-12 col-sm-6">
      <h1>&nbsp;</h1>
      <span dynamic-label key="archived.description.part2"></span>
    </div>
  </div>

</mi-page-head>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div mi-spinner label="archived.label.archivedcertificatesloading" show-spinner="!doneLoading"
           show-content="doneLoading && (archivedCertificates | archived).length>0">
        <table id="archived-cert-table" class="table table-striped hidden-xs hidden-sm" aria-labelledby="archivedHeader">
          <thead>
          <tr>
            <th scope="col" id="issued"><span dynamic-label class="text-nowrap" key="archived-cert-table.headers.issued"></span></th>
            <th scope="col" id="type"><span dynamic-label key="archived-cert-table.headers.type"></span></th>
            <th scope="col" id="certinfo"><span dynamic-label key="archived-cert-table.headers.complementary-info"></span></th>
            <th scope="col" id="issuedby"><span dynamic-label key="archived-cert-table.headers.issuedby"></span></th>
            <th scope="col" id="restore" aria-hidden="true" aria-label="Återställ intyg">&nbsp;</th>
          </tr>
          </thead>

          <tbody>
          <tr ng-repeat="cert in archivedCertificates | archived">
            <td scope="row" headers="issued" class="text-nowrap">{{cert.sentDate | date:'shortDate'}}</td>
            <td headers="type">{{ getIntygTypeName(cert) }}</td>
            <td headers="certinfo">{{getAdditionalInfoOrReplacedText(cert)}}</td>
            <td headers="issuedby">{{cert.careunitName}}, {{cert.caregiverName}}</td>
            <td headers="restore">
              <button id="restoreCertificate-{{cert.id}}" class="btn btn-link" ng-click="restoreCert(cert)" uib-popover="{{messageService.getProperty('btn-link.restore.tooltip')}}"
                     popover-popup-delay="300" popover-append-to-body="true" popover-placement="auto top"><span dynamic-label key="btn-link.restore"></span></button>
            </td>
          </tr>
          </tbody>
        </table>

        <div class="visible-xs visible-sm archived-mobile-list">
          <div class="archived-cert" ng-repeat="cert in archivedCertificates | archived">
            <div class="row">
              <div class="col-xs-4 col-sm-3 bold-text">
                <span dynamic-labelclass="text-nowrap" key="archived-cert-table.headers.issued"></span>
              </div>
              <div class="col-xs-8 col-sm-9 text-nowrap">
                {{cert.sentDate | date:'shortDate'}}
              </div>
            </div>

            <div class="row">
              <div class="col-xs-4 col-sm-3 bold-text">
                <span dynamic-label key="archived-cert-table.headers.type"></span>
              </div>
              <div class="col-xs-8 col-sm-9">
                {{ getIntygTypeName(cert) }}
              </div>
            </div>

            <div class="row">
              <div class="col-xs-4 col-sm-3 bold-text">
                <span dynamic-label key="archived-cert-table.headers.complementary-info"></span>
              </div>
              <div class="col-xs-8 col-sm-9">
                {{getAdditionalInfoOrReplacedText(cert)}}
              </div>
            </div>

            <div class="row">
              <div class="col-xs-4 col-sm-3 bold-text">
                <span dynamic-label key="archived-cert-table.headers.issuedby"></span>
              </div>
              <div class="col-xs-8 col-sm-9">
                {{cert.careunitName}}, {{cert.caregiverName}}
              </div>
            </div>

            <div class="row">
              <div class="col-xs-4 col-sm-3">
              </div>
              <div class="col-xs-8 col-sm-9">
                <a id="restoreCertificate-{{cert.id}}-list" href ng-click="restoreCert(cert)" uib-popover="{{messageService.getProperty('btn-link.restore.tooltip')}}"
                        popover-popup-delay="300" popover-append-to-body="true" popover-placement="auto top"><span dynamic-label key="btn-link.restore"></span></a>
              </div>
            </div>
          </div>
        </div>

        <span class="text-muted">Inga fler intyg</span>
      </div>
      <!-- eof spinner -->
      <mi-page-message-icon
          id="noCerts"
          img-path="/img/arkivtom.png"
          msg-key="archived.message.nocerts"
          ng-if="!errorMessage && doneLoading && (archivedCertificates | archived).length<1">
      </mi-page-message-icon>

      <mi-page-message-icon
          id="errorMessage"
          img-path="/img/404.png"
          msg-key="{{errorMessage}}"
          ng-if="doneLoading && errorMessage">
      </mi-page-message-icon>

    </div>
  </div>
</div>
