
#archived-cert-table {

  th {
    background-color: $mi-intyg-header-bg;
    color: $mi-intyg-header-color;
    padding: 20px;
    font-size: 16px;
    border-bottom: none;
  }

  td {
    padding: 20px;
    border: none;
  }
}
