
#archived-cert-table {

  th {
    background-color: $mi-intyg-header-bg;
    color: $mi-intyg-header-color;
    padding: 20px;
    font-size: 16px;
    border-bottom: none;
  }

  td {
    padding: 20px;
    border: none;
  }

  .btn-link {
    padding: 0;
  }
}

.archived-mobile-list {

  .bold-text {
    font-weight: bold;
  }

  .archived-cert {
    display: table;
    width: 100%;
  }

  > .archived-cert:nth-of-type(even) {
    background-color: $mi-intyg-table-bg;
  }

  > .archived-cert:nth-of-type(odd) {
    background-color: $mi-intyg-table-bg-accent;
  }

  .row {
    margin: 15px 0;
  }

  margin-bottom: 20px;

  .bold-text {
    font-weight: bold;
  }
}
